/*
NeoUpload: Hacker File Input
Autor: Carlos Andres Alzate

Estilos para un input de archivos con gradientes, sombras internas (inset),
efectos hover/active y un look inspirado en interfaces futuristas.

Si lo usas en tu trabajo, agradecer o mencionar al autor es una forma de apoyar
la comunidad y motivar la creación de más recursos abiertos.
*/

:root {
  --bg: #0a0f1c;
  --bg-inner: #141b2f;
  --fore: #00ffcc;
  --fore-alt: #00ffcc;
  --accent: #ff00ff;
  --error: #ff003c;
  --border: #1f2a44;
  --hightlight: #ffffff1a;
  --ff: "Orbitron", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  padding: 20px;
  background: var(--bg);
  color: var(--fore);
  font-family: var(--ff);
}

.window {
  max-width: 600px;
  min-width: 350px;
  border: 2px dashed var(--border);
  border-radius: 0.25rem;
  background-image: linear-gradient(to top, var(--bg-inner), var(--bg));
  padding: 0.5rem 1rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transition: border 1s ease; /*, clip-path 0.5s ease;*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.1rem;

  h1 {
    padding-top: 1rem;
  }

  h2 {
    color: var(--hightlight);
    font-size: 1.3rem;
  }

  p {
    line-height: 1.6;
  }

  div {
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-self: flex-end;
  }
}

.window:hover {
  border: 2px dashed var(--accent);
}

.input-hidden {
  display: none;
  position: absolute;

  &::-webkit-file-upload-button {
    visibility: hidden;
  }
}

.btn {
  background-image: linear-gradient(to top, var(--bg-inner), var(--bg));
  border: 2px solid var(--border);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 3px var(--fore) inset;
  color: var(--fore);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  outline: none;
  padding: 0.5rem 1rem;
  user-select: none;
  white-space: nowrap;
  transition: all 0.3s ease;
}
.btn:hover {
  border-color: var(--accent);
  box-shadow: 0px 0px 6px var(--fore-alt) inset;
  text-shadow: 0 0 5px var(--fore);
  color: black;
}


