.checkbox-group body {
  background: #333333;
  color:beige;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.checkbox-group input[type="checkbox"] {
  display: none;
}

.checkbox-group label {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0.5em;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 5px;
    background: #2f3045;
}

.checkbox-group input[type="checkbox"]:checked + label {
  background-color: #007bff;
  color: #ffffff;
  border-color: #007bff;
}
