@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --light-gray: #494949;
  --accent: #EEC48B;
  --dark-bg: #202020;
  --input-bg: #262626;
  --red: #DF2B20;
  --primary-text: #FFFFFF;
  --secondary-text: #9F9F9F;
  --faded-accent: rgba(238, 196, 139, 0.15);
}

#staged-form {
  background: var(--dark-bg);
  max-width: 530px;
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--faded-accent);
}

#staged-form h2 {
  margin: 0 0 12px 0;
}


/* ---------- STAGE PROGRESS ---------- */
#stage-progress {
  list-style: none;
  width: 80%;
}

#stage-progress li {
  float: left;
  width: 33.33%;
  position: relative;
  text-align: center;
  color: var(--secondary-text);
  font-size: 12px;
}

#stage-progress li::before {
  display: block;
  content: "";
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin: 0 auto 5px auto;
  border: 4px solid var(--light-gray);
  background: var(--light-gray);
  transition: border 0.1s ease-in-out 0s, background 0.1s ease-in-out 0s;
}

#stage-progress li::after {
  position: absolute;
  content: "";
  width: calc(100% - 40px);
  height: 4px;
  border-radius: 5px;
  background: var(--light-gray);
  left: calc(-50% + 20px);
	top: 14px;
  background: linear-gradient(90deg, var(--accent) 50%, var(--light-gray) 50%);
  background-size: 210% 100%;
  background-position: -95% 0;
  transition: background-position 0.3s ease-in-out;
}

#stage-progress li:first-child::after {
  content: none;
}

#stage-progress li.active-stage::before {
  border-color: var(--accent);
  transition: border 0.1s ease-in-out 0.3s, background 0.1s ease-in-out 0.3s;
}

#stage-progress li.active-stage::after {
  background-position: -190% 0;
}

#stage-progress li:has(~ .active-stage)::before, #stage-progress li:has(~ .active-stage)::after {
  border-color: var(--accent);
  background: var(--accent);
  background-position: -190% 0;
}


/* ---------- FORMS ---------- */
main {
  width: 100%;
  overflow: hidden;
  margin: 24px 0;
  position: relative;
}

form {
  width: 100%;
  padding: 0 24px;
  box-sizing: border-box;
  flex-shrink: 0;
}

#form-section {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

main::before, main::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 24px;
  top: 0;
  z-index: 1;
}
main::before {
  left: 0;
  width: 24px;
  background: linear-gradient(90deg, var(--dark-bg), rgba(32, 32, 32,0));
}
main::after {
  right: 0;
  background: linear-gradient(-90deg, var(--dark-bg), rgba(32, 32, 32,0));
}

/* ---------- INPUT ---------- */
label {
  font-size: 14px;
}
input {
  display: block;
  font-size: 14px;
  width: 100%;
  border-radius: 5px;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid var(--light-gray);
  background: var(--input-bg);
  color: var(--primary-text);
}

input:focus {
  border: 1px solid var(--accent);
  outline: none;
}

/* ---------- NAVIGATION BUTTONS ---------- */
#form-navigation button {
  font-size: 14px;
  font-weight: Bold;
  padding: 0.5em 1.5em;
  border-radius: 5px;
  cursor: pointer;
  color: var(--dark-bg);
  position: relative;
}

.primary-btn {
  background: linear-gradient(90deg, #FDF5EC, #EEC48B, #EEC48B, #947A58);
  background-size: 200% 200%;
  background-position: 100% 0;
  border: none;
  transition: background-position 0.3s ease-in-out;
}
.primary-btn:hover {
  background-position: 0 0;
}

.secondary-btn {
  background: linear-gradient(90deg, #FDF5EC, #EEC48B, #EEC48B, #947A58);
  background-size: 200% 200%;
  background-position: 100% 0;
  border: none;
  z-index: 3;
  transition: background-position 0.3s ease-in-out;
}

.secondary-btn:hover, .secondary-btn:hover::after{
  background-position: 0 0;
}

.secondary-btn::before {
  position: absolute;
  content: "";
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  background: var(--dark-bg);
  z-index: -1;
}

.secondary-btn::after {
  content: "⟵ Prev Step";
  background: linear-gradient(90deg, #FDF5EC, #EEC48B, #EEC48B, #947A58);
  background-size: 200% 200%;
  background-position: 100% 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.3s ease-in-out;
}

#prev, #save {
  display: none;
}