@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Cutive+Mono&family=Russo+One&family=Tektur:wght@400..900&family=WDXL+Lubrifont+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
Bitcount Grid Double
Cutive Mono
Russo One
WDXL Lubrifont TC
Tektur
Rubik Wet Paint
Quantico
*/

:root {
  --siteadı: Rubik Wet Paint, sans-serif;
  --açıklama: Tektur, sans-serif;
  --labelbaşlık: Quantico, sans-serif;
  --card-header: Russo One, sans-serif;
  --card-body: Tektur, sans-serif;
  --tablo: Tektur, sans-serif;
  --yukleniyor: Rubik Wet Paint, sans-serif;
}
.siteadı {
	font-family: var(--siteadı);
	font-size: 20px;
	color: yellow;
	}
.açıklama {
	font: 15px var(--açıklama);
	}
.card-header {
	font-family: var(--card-header);
	font-size: 18px !important;
	}
.card-body {
	font-family: var(--card-body);
	font-size: 15px !important;
	}
.labelbaşlık {
	font-family: var(--labelbaşlık);
	font-size: 20px !important;
	font-weight: 700;
	font-style: normal;
	text-shadow: 1px 1px 1px 1px rgba(255,0,0,0.6);
	}
.form-select,
.form-control {
	font-family: var(--tablo);
	font-size: 13px !important;
	}