@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap'); /* Saira Stencil One */

@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap'); /* BAŞLIKLAR */
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200..800&display=swap'); /* KAZIMGÜCÜ */
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap'); /* BAŞLIK2 */
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap'); /* BAŞLIK2 */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap'); /* AÇIKLAMA */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Nova+Square&display=swap'); /*BODY FONT ALANI*/
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Rubik+Vinyl&family=VT323&display=swap'); /*BİLGİLER FONT*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&family=Sixtyfour+Convergence&display=swap');

:root {
  --ozelfont: Offside, sans-serif;
  --cardbaslik: Audiowide, sans-serif;
  --siteadı: Audiowide, sans-serif;
  --rchesapla: Audiowide, sans-serif;
  --açıklama: Gemunu Libre, sans-serif;
  --kazımgücü: Rubik Wet Paint, sans-serif;
  --bilgilerfont: VT323, sans-serif;
  --card-header: Saira Stencil One, sans-serif; /* Rubik Wet Paint */
}
.rchesapla {
	font-family: var(--card-header);
	}
.card-header {
	font-family: var(--card-header);
	}
.ozelfont {
	font-size:20px var(--ozelfont);
	}
.cardbaslik {
	font:15px var(--cardbaslik);
	}
.siteadı {
	font-family: var(--siteadı);
	font-size: 50px
	}
.açıklama {
	font:20px var(--açıklama);
	}
.kazımgücü {
	font-family: var(--kazımgücü);
	font-size: 18px !important;
	}
.bilgilerfont {
	font:20px var(--bilgilerfont);
	}

.discord-widget {
    background-color: #0E1119;
	font-family: var(--siteadı);
    padding: 20px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    max-height: 80vh; /* Limit height for scrolling */
}