@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');


:root {
  --yazılar: Montserrat, sans-serif;
  --başlıklar: Offside, sans-serif;
}

.özelfont {
	font-size:15px var(--yazılar);
	}
.özelfont2 {
	font:15px var(--başlıklar);
	}