@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Cutive+Mono&family=Russo+One&family=Tektur:wght@400..900&family=WDXL+Lubrifont+TC&display=swap');
/*
Bitcount Grid Double
Cutive Mono
Russo One
WDXL Lubrifont TC
Tektur
*/

:root {
  --siteadı: Bitcount Grid Double, sans-serif;
  --açıklama: Tektur, sans-serif;
  --labelbaşlık: Tektur, sans-serif;
  --card-header: Tektur, sans-serif;
  --card-body: Tektur, sans-serif;
  --tablo: Tektur, sans-serif;
}
.siteadı {
	font-family: var(--siteadı);
	font-size: 50px
	}
.açıklama {
	font: 13px var(--açıklama);
	}
.card-header {
	font-family: var(--card-header);
	font-size: 15px !important;
	}
.card-body {
	font-family: var(--card-body);
	font-size: 13px !important;
	}
.labelbaşlık {
	font-family: var(--labelbaşlık);
	font-size: 13px !important;
	}
.form-select,
.form-control {
	font-family: var(--tablo);
	font-size: 13px !important;
	}
table {
	font-family: var(--tablo);
	font-size: 13px !important;
}

table .başlık {
	font-family: var(--tablo);
	color: red;
	font-size: 15px !important;
}