body{background:#222;margin:0;}
#box{position:relative;border:1px solid #818181;width:500px;margin:20px auto;padding:10px;}
#box h1{color:#fff;font-size:25px;font-family: 'Roboto Condensed', sans-serif;}
#box p{color:#ccc;font-size:15px;line-height:1.4;font-family: 'Roboto Condensed', sans-serif;}
#box small{color:#666;font-size:10px;font-family: 'Roboto Condensed', sans-serif;}
#box span{background:#f1f1f1;width:8px;height:8px;position:absolute;}
#box span:nth-of-type(1){left:0;top:0;margin:-4px 0 0 -4px;}
#box span:nth-of-type(2){left:50%;top:0;margin:-4px 0 0 -4px;}
#box span:nth-of-type(3){right:0;top:0;margin:-4px 0 0 -4px;}
#box span:nth-of-type(4){left:0;top:50%;margin:-4px 0 0 -4px;}
#box span:nth-of-type(5){right:0;top:50%;margin:-4px -4px 0 0;}
#box span:nth-of-type(6){left:0;bottom:0;margin:0 0 -4px -4px;}
#box span:nth-of-type(7){left:50%;bottom:0;margin:0 0 -4px -4px;}
#box span:nth-of-type(8){right:0;bottom:0;margin:0 -4px -4px 0;}