@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
/* TABLO YAZI TİPİ DEĞİŞTİRME */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Nova+Square&display=swap'); /*BODY FONT ALANI*/

::-webkit-scrollbar {
    background: #2f3045;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: red;
}

.roller-select {
    /*-webkit-appearance: none;*/
    outline: none;
    font-size: 15px;
    border: 2px solid var(--rum);
    color: var(--white);
    background-color: var(--black-russian);
    border-radius: 4px;
    padding: .9rem;
    
    border-left: none;
    border-radius: 0 4px 4px 0;
}

.desired-coin{
    margin: 1px;
	text-align: center;
}

.desired-coin-container{
 
    justify-content: center;
}

.desired-coin-container img {
    width: 2.4rem;
}

.desired-coin-container .title-text2{

}

.desired-coin-container .title-text2 p:first-child {
    font-weight: bold;
}

.desired-coin p {
    border-left: 1px solid red;
    border-right: 1px solid blue;
}

.head {
  /*font-family: 'Russo One', sans-serif; */
  text-decoration:none;
}

.head2 {
  font-family: 'Caveat Brush', cursive;
  font-size: 16px;
  text-decoration:none;
}

.drawer-menu {
  font-family: 'Germania One', cursive;
  font-size: 13px;
  text-decoration:none;
  color: black
}

.fcinput {
	text-align: center;
}

.table-responsive {
    display: flex;
    align-items: stretch;
    flex-direction: column;
	text-align: center;
}

.roller-table thead th {
    border: none;
    border-radius: 4px;
    background-color: var(--black-russian);
    padding: 8px 16px;
}

.fatihceliktr-3d{
font-family: 'Germania One', cursive;
color: #2f3045;
font-weight:bold;
font-size: 25px;
padding: 10px 20px;
text-shadow:0px 0px 0 rgb(223,223,223),1px 1px 0 rgb(202,202,202),2px 2px 0 
rgb(180,180,180),3px 3px 0 rgb(158,158,158), 4px 4px 0 rgb(136,136,136),5px 
5px 4px rgba(0,0,0,0.6),5px 5px 1px rgba(0,0,0,0.5),0px 0px 4px rgba(0,0,0,.2);
}

.sosyalmedyahesaplarımız{
font: 80px;
font-family: 'Russo One', sans-serif;
color:#2f3045;

	width: 100%;
	background: #2f3045; /* background: #151414; */
text-shadow: 0px 0px 10px #00ff0f, -1px -1px #000;
}

.asit{
font: 80px;
font-family: 'Russo One', sans-serif;
color:#00ff0f;
text-shadow: 0px 0px 10px #00ff0f, -1px -1px #000;
}

.uc-boyut{
font: 80px;
font-family: 'Russo One', sans-serif;
color: #fff;
text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}

.alfa{
font: 100px;
font-family: 'Russo One', sans-serif;
color: black;
text-shadow: 0px 0px 0 rgb(223,223,223),1px 1px 0 rgb(202,202,202),2px 2px 0 
rgb(180,180,180),3px 3px 0 rgb(158,158,158), 4px 4px 0 rgb(136,136,136),5px 
5px 4px rgba(0,0,0,0.6),5px 5px 1px rgba(0,0,0,0.5),0px 0px 4px rgba(0,0,0,.2);
}

.card-body {
	background: #0E1119; /* background: #151414; */
	font-size: 13px;
	color: #ffdc00;
}

.card-fc {
	width: 100%;
	color: white;
	background: #2f3045; /* background: #151414; */
	border-radius: 5px 5px 5px 5px;
}

.card-header {
	font-size: 14px;
	color: #00ff0f;
}

.body {
	background: #181928; /* background: #151414; */
	background-image: url("https://rchesapla.github.io/img/bayrak.png"); /* Add a search icon to input */
	background-position: top left;
	background-repeat : no-repeat;
	filter: drop-shadow(0 0 1px red);
	color: #ffdc00;
	font-family: "Nova Square", sans-serif;
	font-weight: 400;
	font-style: normal;
}

/* font-family: 'Russo One', sans-serif; */
.container{
  width: 100% !important;
  max-width: 100% !important;
}


/* Input type number */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Form control , form select */
.form-select:focus,
.form-control:focus {

}

.form-select,
.form-control,
.input-group-text {
	color: #c3b0d0 !important;
	background-color: #181928 !important;
}

/* Botones mostrar modal */
.btn-show {
  background-color: #2f3045;
  border-style: none;
  box-shadow: 1px 0px #181928, 0px 1px #181928, 2px 1px #181928, 1px 2px #181928,
    3px 2px #181928, 2px 3px #181928, 4px 3px #181928, 3px 4px #181928,
    5px 4px #181928, 4px 5px #181928, 6px 5px #181928, 5px 6px #181928;
  color: #ffffff;
  cursor: pointer;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  font-size: 0.75em;
  padding: 10px 20px;
  transition: all 0.3s ease 0s;
}

.btn-show:hover {
  box-shadow: 1px 0px #181928, 0px 1px #181928, 2px 1px #181928, 1px 2px #181928,
    3px 2px #181928, 2px 3px #181928, 4px 3px #181928, 3px 4px #181928;
  transform: translate(5px);
}

.btn-show:focus {
  background-color: #2f3045;
}

/*Tabla de conversión*/
.container-convert{
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}

.başlık {
	color: #161d2c;
	font-weight:bold;
	font-size: 50px;
}
.bakımmodu {
	background: #ffffff !important;
	color: #161d2c;
	font-weight:bold;
	font-size: 50px;
}















@element iframe {
  $this {
    width: 100%;
    height: calc(100ew / eval("width/height"));
  }
}