/*checkbox ayarları*/

.cyberpunk-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #30cfd0;
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.cyberpunk-checkbox:before {
  content: "";
  background-color: red;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.cyberpunk-checkbox:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

.cyberpunk-checkbox-label {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  display: flex;
  font-family: var(--tablo) !important;
}

/*tablo ayarları*/
table {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #c3b0d0;
}

table tr {
  background-color: #1b2130;
  border: 1px solid #c3b0d0 ;
  padding: 1px;
}

table th {
  color: #ffdc00 ;
}

table th,
table td {
  padding: 3px;
  text-align: center;
  border: 1px solid #2f3045;
}

table th {
  text-transform: uppercase ;
}

@media screen and (max-width: 1100px) {
  table {
    border: 0;
  }
  
  table .deneme {
    border: none;
    clip: rect(0 0 0 0);
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
	color: red;
  }
  
  table .ortala{
	color: red;
    text-align: center;
  }
  table .test2{
	color: red;
    text-align: center;
  }
  
  table tr {
    display: block;
    margin-bottom: 20px;
	text-align: center;
  }
  
  table td {
    border: 1px solid #2f3045;
    display: block;
    text-align: center;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(fatihcelik);
	color: #ffdc00;
	padding-right: 5px;
    float: center;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}