table {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #c3b0d0 ;
  font: 200px var(--açıklama)!important;
}

table tr {
  background-color: #1b2130;
  border: 1px solid #c3b0d0 ;
  padding: 1px;
}

table th {
  color: #ffdc00 ;
}

table th,
table td {
  padding: .625em;
  font-size: 18px ;
  text-align: center;
  border: 1px solid #2f3045;
}

table th {
  font-size: 18px ;
  text-transform: uppercase ;
}

@media screen and (max-width: 1100px) {
  table {
    border: 0;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    display: block;
    margin-bottom: 20px;
  }
  
  table td {
    border: 1px solid #2f3045;
    display: block;
    text-align: center;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(fatihcelik);
    float: center;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}