button {
  background-color: lightcoral;
  color: white;
  display: block;
  margin: 3vw auto;
  min-width: 120px;
  border: none;
  padding: 0 1em;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 40px;
  text-align: center;
  outline: none;
  cursor: pointer;
}
.wrapper {
  display: flex;
  align-content: center;
  justify-content: space-around;
  margin-bottom: 3vw;
}
.wrapper iframe {
  width: 30vw;
  height: 16.5vw;
}
