/* ===== LOADER ===== */

.rc-loader {
  position: fixed;
  inset: 0;
  background: rgba(10, 10, 20, 0.95);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-box {
  text-align: center;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 5px solid rgba(255,255,255,0.2);
  border-top: 5px solid #00ffd5;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
  margin-bottom: 15px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
