@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Rubik+Vinyl&family=VT323&display=swap');
/* 1. Font: Rubik Vinyl | 2. Font: VT323 | 3. Font: Oxanium (Seçenekler)*/

.body {
	font-family: "Oxanium", serif;
	font-weight: 400;
	font-style: normal;
	color: #cdc5bf;
}

.başlıklar {
    margin: 0px 42px 0px 42px;
	color: #cdc5bf;
	text-align: center;
	padding: 10px;
}

.Yazı1 {
	font-family: "VT323", serif;
	font-weight: 400;
	font-style: normal;
	color: #cdc5bf;
}

.Yazı2 {
	font-family: "VT323", serif;
	font-weight: 400;
	font-style: normal;
	color: #cdc5bf;
}

.seçenekler, .sayılar {
	font-family: "Oxanium", serif;
	font-weight: 400;
	font-style: normal;
	color: #cdc5bf;
}