<!DOCTYPE html>
<html lang="en" ng-app="miningApp">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>RCHesapla | Test Sitesi!</title>
<link href="css/yedek_v2.css" rel="stylesheet">
<link href="css/tablo.css" rel="stylesheet">
<!--===============================================================================================-->
<link rel="stylesheet" href="../../css/benihatirla.css">
<!--===============================================================================================-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!--===============================================================================================-->
<link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
<meta name="google-site-verification" content="zLhTa_Vn0bP5jm3ZYoCir1VtRUw2xHvHclGPHv3d4-o" />
<!--===============================================================================================-->
<meta name="keywords" content="rchesapla, turkcraft01, pb01adana, rollercoin, rollercoin hesapla, rollercoin calculator, rollercoin güç hesaplama, bitcoin hesapla, doge hesapla, eth hesapla, xrp hesapla">
<!--===============================================================================================-->
<meta property="og:title" content="☪ RCHesapla ☪ • Kişisel Kazım Gücünü Hesapla!">
<meta property="og:description" content="Anlık, günlük, haftalık, aylık aynı zamanda yıllık olarak hesaplama yapabilirsin. ||Tek resmi web sitemiz budur!||">
<meta property="og:image" content="https://media.discordapp.net/attachments/798825351555317760/960999892480823356/standard.gif?ex=67aa61e4&is=67a91064&hm=20ad890e21ab9025a1b5ba26e6f1ceb697d13f3138af57063e80602f8835f8ce">
<meta property="og:url" content="https://rchesapla.github.io/">
<!--===============================================================================================-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">
<!--===============================================================================================-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/spark-md5/3.0.0/spark-md5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
<!--===============================================================================================-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5"></script>
<!--===============================================================================================-->
<script src="https://wminerrc.github.io/calculator/data/basic_miners.js"></script>
<script src="https://wminerrc.github.io/calculator/data/merge_miners.js"></script>
<script src="https://wminerrc.github.io/calculator/data/old/merge_miners.js"></script>
<script src="https://wminerrc.github.io/calculator/data/components.js"></script>
<!--===============================================================================================-->
<script src="js/app.js"></script>
<script src="js/firebase-db-service.js"></script>
<!--===============================================================================================-->
<script src="js/services.js"></script>
<script src="js/user-miner-service.js"></script>
<script src="js/miner-service.js"></script>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css'>
<!--===============================================================================================-->
<style>

        .balao {
            position: fixed;
            bottom: 10px; /* Define a distância do fundo da página */
            right: 10px;  /* Define a distância do lado direito da página */
            width: 500px; /* Defina uma largura adequada para o balão */
            height: auto; /* Permita que a altura seja ajustada automaticamente conforme o conteúdo */
            background-color: green;
            color: #fff;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            display: none;
            text-align: center;
            z-index: 999;
        }

        .balao p {
            margin: 0;
            font-size: 20px;
        }

        .balao a {
            color: #fff;
            text-decoration: none;
            font-size: 20px;
        }
        #balao2{
            bottom: 100px;
            width: 266px;
            height: 96px;
            background: url(../images/tap.png);
        }

        #balao2 p{
            vertical-align: middle;
            margin-top: 10px;
            background-color: rgba(255, 255, 255, 0.6);
            color: #000000;
        }

        .fechar {
            position: absolute;
            top: 5px;
            right: 10px;
            cursor: pointer;
        }
        #chart {
            width: 30%;
            height: 250px;
            margin: 0 auto;
            margin-top: 350px;
        }
        .already-have-miner {
            background-color: rgba(0,0,0,0.2);
        }
        .removed-have-miner {
            background-color: rgba(252, 79, 79, 0.2);
        }
        .autocomplete-container {
            padding: 20px;
        }
        @font-face {
            font-family: pixelSC;
            src: url('fonts/PixelOperatorSC.ttf');
            font-display: swap;
        }
        .container {
            flex: 1;
            margin-top: 20px;
        }
        .form-inline .form-group {
            margin-right: 10px;
        }
        header, footer {
            background-color: rgba(255, 255, 255, 0.5);
            color: #000;
            padding: 10px 0;
            text-align: center;
            display: flex;
            justify-content: center;
        }
        header h1, footer p {
            margin: 0;
            align-self: center;
        }
        .currency-icon {
            width: 50px;
            height: 50px;
            margin-bottom: 10px;
        }
        .table-bordered {
            background-color: rgba(255, 255, 255, 0.7);
        }
        .table-container {
            text-align: center;
        }
        .form-control {
            width: calc(100% - 20px);
            display: inline-block;
        }
        .loading-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
            color: white;
            font-size: 24px;
        }
        .invalid {
            border-color: red;
        }
        .wrong-value {
            color:red;
        }
        .best-coin:not([disabled]) {
            background-color: gold;
            font-weight: bolder;
            animation: pulse 2s infinite ease-in-out;
        }
        .best-coin[disabled] {
            background-color: #d7d0a7;
            font-weight: bolder;
        }
        @keyframes pulse {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.1);
            }
            100% {
                transform: scale(1);
            }
        }
        tbody.allocated-farm tr:first-child {
            background-color: rgba(255, 255, 255, 0.5);
        }
        #message {
            font-size: 24px;
            animation: slideUp 2s forwards;
        }

        @keyframes slideUp {
            0% { opacity: 0; transform: translateY(50px); }
            100% { opacity: 1; transform: translateY(0); }
        }

        canvas {
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
        }
        .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal {
    text-align: center;
    display:block;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    margin-left: 10%;
    margin-top: 5%;
  }
/* 
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }

  button:hover {
    background-color: #0056b3;
  } */
</style>
</head>
<body ng-controller="MiningController" class="body">
<div class="loading-overlay" ng-show="isLoading">
<p>Biraz beklemeniz lazım..</p>
</div>
<div class="container">
<div class="row">
<div class="- - -">
<form name="miningForm">
<div class="form-group">
<label for="currency">Kripto seç</label>
<select id="currency" class="form-control" ng-model="formData.currency" ng-options="currency.name for currency in currencies" ng-change="updateCurrencyDetails()">
<option value="">Genel Hesaplama</option>
</select>
</div>
<div class="form-group">
<label for="networkPower">Ağ Gücü</label>
<div class="form-inline">
<input type="number" id="networkPower" class="form-control" ng-model="formData.networkPower" disabled>
<select id="networkUnit" class="form-control" ng-model="formData.networkUnit" disabled ng-change="updateNetworkPowerUnit('{{formData.networkUnit}}')">
<option ng-repeat="unit in networkUnits">{{unit}}</option>
</select>
</div>
</div>
<div class="form-group">
<label for="power">Kazım Gücü</label>
<div class="form-inline">
<input type="text" id="power" ng-disabled="isLoadedUser" class="form-control" ng-model="formData.power">
<select id="unit" class="form-control" ng-disabled="isLoadedUser" ng-model="formData.unit" ng-options="unit for unit in units" ng-change="updatePowerUnit('{{formData.unit}}')"></select>
</div>
</div>
<div class="form-group">
<label for="blockSize">Blok Ödülü</label>
<div class="form-inline">
<input type="text" id="blockSize" class="form-control" ng-model="formData.blockSize" disabled>
</div>
</div>
<div class="form-group">
<label for="blockTime">Blok Süresi</label>
<div class="form-inline">
<input type="number" id="blockTime" class="form-control" ng-model="formData.blockTime" disabled>
<select id="timeUnit" class="form-control" ng-model="formData.timeUnit" disabled ng-change="updateTimeUnit('{{formData.timeUnit}}')">
<option value="seconds">Saniye</option>
<option value="minutes">Dakika</option>
</select>
</div>
</div>
<div class="form-group">
<div class="form-inline">
<button class="best-coin animated-button" ng-disabled="!formData.power || formData.currency" ng-click="calculateAllCoins()"><i class="fa-solid fa-coins"></i> En İyi Kazanç</button>
</div>
</div>
<div class="form-group">
<div class="form-inline">
<button class="best-coin animated-button" ng-disabled="!isLoadedUser" ng-click="bestBuys()"><i class="fas fa-shopping-cart"></i> Miner Listesi</button>
</div>
</div>
<div class="form-group">
<label for="blockTime">RollerCoin ID</label>
<div class="form-inline">
<input type="text" 
class="form-control" 
ng-model="userSearchText" 
placeholder="Örn: FthCLK" 
typeahead-wait-ms="1500"
uib-typeahead="player as player.code for player in getPlayerByName($viewValue)"
typeahead-no-results="playerSearchNoResults"
typeahead-on-select="onSelectPlayer($item, $model, $label, $event)"
typeahead-loading="loading">
<div ng-show="playerSearchNoResults">
<i class="glyphicon glyphicon-remove"></i> Jogador não encontrado! Lembre-se que deve ser digitado o código que vem após o /p/ no link do rollercoin
</div>
<button ng-if="isLoadedUser" ng-click="reloadWithoutUser()"><i class="fa fa-trash"></i></button>
</div>
</div>
<!--===============================================================================================-->
<div class="glitch-checkbox-wrapper" ng-if="isLoadedUser">
<label class="glitch-checkbox-container">
<input type="checkbox" name="option2"ng-model="keepUser" ng-change="updateKeepUser(keepUser)" name="keep_user"/>
<div class="checkbox-box">
<div class="checkbox-mark"></div>
</div>
<span class="checkbox-label" data-text="Beni hatırla!">Beni hatırla!</span>
</label>
</div>
<!--===============================================================================================-->
</form>
</div>
<!--===============================================================================================-->
<div ng-if="user_data" class="- - -">
<table class="- - -">
<thead class="deneme">
<tr>
<th style="text-align: center">
PROFİL
</th>
<th style="text-align: center">
OYUN GÜCÜ
</th>
<th style="text-align: center">
MINER GÜCÜ
</th>
<th style="text-align: center">
RAF GÜCÜ
</th>
<th style="text-align: center">
GEÇİCİ GÜCÜ
</th>
<th style="text-align: center">
TOPLAM GÜCÜ
</th>
<th style="text-align: center">
BONUS ORANI
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align: center" fatihcelik="PROFİL">
{{user_data.name}}
</td>
<td style="text-align: center" fatihcelik="OYUN GÜCÜ">
{{chooseBestHashRateUnit(user_data.powerData.games, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.powerData.games, 'GH/s').unit}}
</td>
<td ng-if="user_data.newPowerData && user_data.newPowerData.new_power > 0" style="text-align: center" fatihcelik="MINER GÜCÜ">
<s>{{chooseBestHashRateUnit(user_data.powerData.miners, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.powerData.miners, 'GH/s').unit}}</s></br>
{{chooseBestHashRateUnit(user_data.newPowerData.miners, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.newPowerData.miners, 'GH/s').unit}}<br>
<i class="fa-solid fa-arrow-up"></i> {{chooseBestHashRateUnit(user_data.newPowerData.new_power, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.newPowerData.new_power, 'GH/s').unit}}<br>
</td>
<td ng-if="user_data.newPowerData && user_data.newPowerData.new_power < 0" style="text-align: center" fatihcelik="MINER GÜCÜ">
<s>{{chooseBestHashRateUnit(user_data.powerData.miners, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.powerData.miners, 'GH/s').unit}}</s></br>
{{chooseBestHashRateUnit(user_data.newPowerData.miners, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.newPowerData.miners, 'GH/s').unit}}<br>
<i class="fa-solid fa-arrow-down"></i> {{chooseBestHashRateUnit(user_data.newPowerData.new_power, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.newPowerData.new_power, 'GH/s').unit}}<br>
</td>
<td ng-if="!user_data.newPowerData || !user_data.newPowerData.new_power" style="text-align: center" fatihcelik="MINER GÜCÜ">
{{chooseBestHashRateUnit(user_data.powerData.miners, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.powerData.miners, 'GH/s').unit}}
</td>
<td style="text-align: center" fatihcelik="RAF GÜCÜ">
{{chooseBestHashRateUnit(user_data.powerData.racks, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.powerData.racks, 'GH/s').unit}}
</td>
<td style="text-align: center" fatihcelik="GEÇİCİ GÜCÜ">
{{chooseBestHashRateUnit(user_data.powerData.temp, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.powerData.temp, 'GH/s').unit}}
</td>
<td ng-if="!user_data.newPowerData || !user_data.newPowerData.new_total" style="text-align: center" fatihcelik="TOPLAM GÜCÜ">
{{chooseBestHashRateUnit(user_data.powerData.total, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.powerData.total, 'GH/s').unit}}
</td>
<td ng-if="user_data.newPowerData && user_data.newPowerData.new_total > 0" style="text-align: center" fatihcelik="TOPLAM GÜCÜ">
<s>{{chooseBestHashRateUnit(user_data.powerData.total, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.powerData.total, 'GH/s').unit}}</s></br>
{{chooseBestHashRateUnit(user_data.newPowerData.total, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.newPowerData.total, 'GH/s').unit}}<br>
<i class="fa-solid fa-arrow-up"></i> {{chooseBestHashRateUnit(user_data.newPowerData.new_total, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.newPowerData.new_total, 'GH/s').unit}} ({{(user_data.newPowerData.new_total_percent.toFixed(2))}}%)
</td>
<td ng-if="user_data.newPowerData && user_data.newPowerData.new_total < 0" style="text-align: center" fatihcelik="TOPLAM GÜCÜ">
<s>{{chooseBestHashRateUnit(user_data.powerData.total, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.powerData.total, 'GH/s').unit}}</s></br>
{{chooseBestHashRateUnit(user_data.newPowerData.total, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.newPowerData.total, 'GH/s').unit}}<br>
<i class="fa-solid fa-arrow-down"></i> {{chooseBestHashRateUnit(user_data.newPowerData.new_total, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.newPowerData.new_total, 'GH/s').unit}} ({{(user_data.newPowerData.new_total_percent.toFixed(2))}}%)
</td>
<td ng-if="user_data.newPowerData && user_data.newPowerData.new_bonus_percent > 0" style="text-align: center" fatihcelik="BONUS ORANI">
<s>{{(user_data.powerData.bonus_percent / 100)}}%</s></br>
{{(user_data.newPowerData.bonus_percent / 100)}}%<br>
<i class="fa-solid fa-arrow-up"></i> {{(user_data.newPowerData.new_bonus_percent / 100)}}%
</td>
<td ng-if="!user_data.newPowerData || !user_data.newPowerData.new_bonus_percent" style="text-align: center" fatihcelik="BONUS ORANI">
{{(user_data.powerData.bonus_percent / 100)}}%
</td>
<td ng-if="user_data.newPowerData && user_data.newPowerData.new_bonus_percent < 0" style="text-align: center" fatihcelik="BONUS ORANI">
<s>{{(user_data.powerData.bonus_percent / 100)}}%</s></br>
{{(user_data.newPowerData.bonus_percent / 100)}}%<br>
<i class="fa-solid fa-arrow-down"></i> {{(user_data.newPowerData.new_bonus_percent / 100)}}%
</td>
</tr>
</tbody>
</table>
<!--===============================================================================================-->
<table ng-if="formData.currency" class="- - -">
<thead class="deneme">
<tr ng-hide="formData.currency.in_game_only">
<th style="text-align: center" colspan="2">
1 {{formData.currency.name}} = ${{exchangeRates[formData.currency.name]['usd']}}
</th>
<th style="text-align: center" colspan="2">
1 {{formData.currency.name}} = {{exchangeRates[formData.currency.name]['try']}}₺
</th>
</tr>
<tr>
<th style="text-align:center;">GÜNLER</th>
<th style="text-align:center;">KRİPTO</th>
<th style="text-align:center;" ng-hide="formData.currency.in_game_only">USD</th>
<th style="text-align:center;" ng-hide="formData.currency.in_game_only">TRY (₺)</th>
</tr>
</thead>
<tbody>
<tr>
<td>Blok Değeri</td>
<td>{{calculateEarnings('block', 'amount')}} {{formData.currency.name}}</td>
<td ng-hide="formData.currency.in_game_only">${{calculateEarnings('block', 'usd')}}</td>
<td ng-hide="formData.currency.in_game_only">{{calculateEarnings('block', 'try')}}₺</td>
</tr>
<tr>
<td>Günlük</td>
<td>{{calculateEarnings('day', 'amount')}} {{formData.currency.name}}</td>
<td ng-hide="formData.currency.in_game_only">${{calculateEarnings('day', 'usd')}}</td>
<td ng-hide="formData.currency.in_game_only">{{calculateEarnings('day', 'try')}}₺</td>
</tr>
<tr>
<td>Haftalık</td>
<td>{{calculateEarnings('week', 'amount')}} {{formData.currency.name}}</td>
<td ng-hide="formData.currency.in_game_only">${{calculateEarnings('week', 'usd')}}</td>
<td ng-hide="formData.currency.in_game_only">{{calculateEarnings('week', 'try')}}₺</td>
</tr>
<tr>
<td>Aylık</td>
<td>{{calculateEarnings('month', 'amount')}} {{formData.currency.name}}</td>
<td ng-hide="formData.currency.in_game_only">${{calculateEarnings('month', 'usd')}}</td>
<td ng-hide="formData.currency.in_game_only">{{calculateEarnings('month', 'try')}}₺</td>
</tr>
</tbody>
</table>
</div>

<div class="- - -">
<h3>SONUÇLAR</h3>

<form name="myForm">
<table ng-if="!formData.currency" class="- - -">
<thead class="deneme">
<tr>
<th style="text-align: center" colspan="19">
GENEL BİLGİLER
</th>
</tr>
<tr>
<th style="text-align: center" rowspan="2" colspan="2">
KRİPTO
</th>
<th style="text-align: center" rowspan="2" colspan="2">
<a href="#" ng-click="orderByField='networkPower'; reverseSort = !reverseSort">
AĞ GÜCÜ
</a>
</th>
<th style="text-align: center" rowspan="2" colspan="2">
BLOK ÖDÜLÜ
</th>
<th style="text-align: center" colspan="4">
BLOK BAŞINA DEĞER
</th>
<th style="text-align: center" colspan="9">
BENİM BLOK BAŞINA DEĞER
</th>
</tr>
<tr>
<th style="text-align: center" colspan="2">
<a href="#" ng-click="orderByField='block_value_in_usd'; reverseSort = !reverseSort">
USD
</a>
</th>
<th style="text-align: center" colspan="2">
<a href="#" ng-click="orderByField='user_block_farm_token'; reverseSort = !reverseSort">
KRİPTO
</a>
</th>
<th style="text-align: center" colspan="2">
<a href="#" ng-click="orderByField='user_block_farm_usd'; reverseSort = !reverseSort">
USD
</a>
</th>
<th style="text-align: center" colspan="2">
<a href="#" ng-click="orderByField='user_days_to_widthdraw'; reverseSort = !reverseSort">
PARA ÇEKİMİ
</a>
</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="currency in currencies | orderBy:orderByField:reverseSort">
<td colspan="2">
<span ng-show="$first">
<i style="color:#b7b706" class="fa-solid fa-crown"></i>
</span>
{{currency.name}}
</td>
<td colspan="2">{{chooseBestHashRateUnit(currency.networkPower, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(currency.networkPower, 'GH/s').unit}}</td>
<td colspan="2">{{currency.blockTime}} sn {{currency.blockSize}} {{currency.name}}</td>
<td colspan="2">${{currency.block_value_in_usd}}</td>
<td colspan="2">{{currency.user_block_farm_token}} {{currency.name}}</td>
<td colspan="2">${{currency.user_block_farm_usd}}</td>
<td colspan="2">{{formatDays(currency.user_days_to_widthdraw)}}</td>
</tr>
</tbody>
</table>
</form>
</div>
<div class="- - -">
<table ng-if="!formData.currency && getCurrenciesSum('user_alocated_power')  > 0" class="- - -">
<thead>
<tr>
<th style="text-align: center" colspan="22">
Minha mineração <span ng-class="{'wrong-value': getCurrenciesSum('user_alocated_power')  > 100}">{{getCurrenciesSum('user_alocated_power')}}</span>/100%
</th>
</tr>
<tr>
<th style="text-align: center" rowspan="2" colspan="2">
Moeda
</th>
<th style="text-align: center" colspan="6">
Farm diário
</th>
<th style="text-align: center" colspan="6">
Farm semanal
</th>
<th style="text-align: center" colspan="6">
Farm mensal
</th>
</tr>
<tr>
<th style="text-align: center" colspan="2">
<a href="#" ng-click="orderByFarmField='user_alocated_power_day_profit_in_usd'; reverseSort = !reverseSort; $event.preventDefault();">
USD
</a>
</th>
<th style="text-align: center" colspan="2">
<a href="#" ng-click="orderByFarmField='user_alocated_power_day_profit_in_try'; reverseSort = !reverseSort; $event.preventDefault();">
TRY
</a>
</th>
<th style="text-align: center" colspan="2">
<a href="#" ng-click="orderByFarmField='user_alocated_power_day_profit_in_cripto'; reverseSort = !reverseSort; $event.preventDefault();">
KRİPTO
</a>
</th>
<th style="text-align: center" colspan="2">
<a href="#" ng-click="orderByFarmField='user_alocated_power_week_profit_in_usd'; reverseSort = !reverseSort; $event.preventDefault();">
USD
</a>
</th>
<th style="text-align: center" colspan="2">
<a href="#" ng-click="orderByFarmField='user_alocated_power_week_profit_in_try'; reverseSort = !reverseSort; $event.preventDefault();">
TRY
</a>
</th>
<th style="text-align: center" colspan="2">
<a href="#" ng-click="orderByFarmField='user_alocated_power_week_profit_in_cripto'; reverseSort = !reverseSort; $event.preventDefault();">
KRİPTO
</a>
</th>
<th style="text-align: center" colspan="2">
<a href="#" ng-click="orderByFarmField='user_alocated_power_month_profit_in_usd'; reverseSort = !reverseSort; $event.preventDefault();">
USD
</a>
</th>
<th style="text-align: center" colspan="2">
<a href="#" ng-click="orderByFarmField='user_alocated_power_month_profit_in_try'; reverseSort = !reverseSort; $event.preventDefault();">
TRY
</a>
</th>
<th style="text-align: center" colspan="2">
<a href="#" ng-click="orderByFarmField='user_alocated_power_month_profit_in_cripto'; reverseSort = !reverseSort; $event.preventDefault();">
KRİPTO
</a>
</th>
</tr>
</thead>
<tbody class="allocated-farm">
<tr ng-repeat="currency in filteredCurrencies = (currencies | filter:filterFn | orderBy:orderByFarmField:reverseSort)">
<td colspan="2">
<span ng-show="$first" id="bestCoinTable">
<i style="color:#b7b706" class="fa-solid fa-crown"></i>
</span>
{{currency.name}}
</td>
<td colspan="2">${{currency.user_alocated_power_day_profit_in_usd}}</td>
<td colspan="2">{{currency.user_alocated_power_day_profit_in_try}}₺</td>
<td colspan="2">{{currency.user_alocated_power_day_profit_in_cripto}} {{currency.name}}</td>
<td colspan="2">${{currency.user_alocated_power_week_profit_in_usd}}</td>
<td colspan="2">{{currency.user_alocated_power_week_profit_in_try}}₺</td>
<td colspan="2">{{currency.user_alocated_power_week_profit_in_cripto}} {{currency.name}}</td>
<td colspan="2">${{currency.user_alocated_power_month_profit_in_usd}}</td>
<td colspan="2">{{currency.user_alocated_power_month_profit_in_try}}₺</td>
<td colspan="2">{{currency.user_alocated_power_month_profit_in_cripto}} {{currency.name}}</td>
</tr>
</tbody>
<tfoot ng-show="filteredCurrencies.length">
<tr style="background-color:rgba(255,255,255,0.7)">
<th scope="row" colspan="2">TOPLAM</th>
<td colspan="2">${{getCurrenciesSum('user_alocated_power_day_profit_in_usd').toFixed(2)}}</td>
<td colspan="2">{{getCurrenciesSum('user_alocated_power_day_profit_in_try').toFixed(2)}}₺</td>
<td colspan="2">-</td>
<td colspan="2">${{getCurrenciesSum('user_alocated_power_week_profit_in_usd').toFixed(2)}}</td>
<td colspan="2">{{getCurrenciesSum('user_alocated_power_week_profit_in_try').toFixed(2)}}₺</td>
<td colspan="2">-</td>
<td colspan="2">${{getCurrenciesSum('user_alocated_power_month_profit_in_usd').toFixed(2)}}</td>
<td colspan="2">{{getCurrenciesSum('user_alocated_power_month_profit_in_try').toFixed(2)}}₺</td>
<td colspan="2">-</td>
</tr>
</tfoot>
</table>
</div>

<div ng-if="customMiners.length > 0" class="">
<table class="">
<thead>
<tr>
<th colspan="5" style="text-align: center">
EKRAN KARTLARI
</th>
</tr>
<tr>
<th style="text-align: center">
MINER ADI
</th>
<th style="text-align: center">
SEVİYE
</th>
<th style="text-align: center">
GÜCÜ
</th>
<th style="text-align: center">
BONUS
</th>
<th style="text-align: center">
ETKİLEŞİM
</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="miner in customMiners track by $index">
<td data-label="NIM" style="text-align: center">
{{miner.name.en}}
</td>
<td style="text-align: center; position: relative;">
<img ng-if="miner.level == 0" src='https://rollercoin.com/static/img/storage/rarity_icons/level_1.png?v=1.0.0' style='left: 40px;position: absolute;top: 25px;'/>
<img ng-if="miner.type === 'old_merge'" src='https://rollercoin.com/static/images/level_star.4ff18517e5e8eed42060..png' style='left: 40px;position: absolute;top: 25px;'/>
<img ng-if="miner.level > 0 && miner.type !== 'old_merge'" src='https://rollercoin.com/static/img/storage/rarity_icons/level_{{miner.level+1}}.png?v=1.0.0' style='left: 40px;position: absolute;top: 25px;'/>
<img src='https://static.rollercoin.com/static/img/market/miners/{{miner.filename}}.gif?v=1707996476608' width="80px" height="auto"/>
<div ng-if="!miner.is_can_be_sold_on_mp"
style="
height: 10px;
width: 100px;
background-color: red;
font-size: 0.6em;
font-weight: bold;
margin-left: 16%;
color: white;
">INEGOCIAVEL</div>
</td>
<td style="text-align: center">
{{chooseBestHashRateUnit(miner.power, 'GH/s').value.toFixed(2)}}{{chooseBestHashRateUnit(miner.power, 'GH/s').unit}}
</td>
<td style="text-align: center">
{{(miner.bonus_power / 100)}}%
</td>
<td style="text-align: center">
<button style="min-width: 80px;margin: 4px;" ng-click="removeMinerFromSimulation(miner)">Kaldır!</button><br/>
<button style="min-width: 80px;margin: 4px;" ng-click="openBuyLink(miner)">Mağazaya Git</button>
</td>
</tr>
</tbody>
</table>
</div>

<div ng-if="formData.showAllMiners" class="">
<div class="form-group col-md-4">
<label for="currency">Miner Adı</label>
<input type="text" class="form-control" ng-change="filterAllMiners(allMinerNameSearch, allMinersRarity, {min:allMinerMinBonusSearch, max:allMinerMaxBonusSearch}, allMinerNegotiableStatus, allMinerPosessionStatus, allMinerCollectionId, allMinerMinPowerSearch, allMinerMaxPowerSearch, allMinerCells, allMinerMinImpact)" ng-model="allMinerNameSearch" placeholder="Örn: YMCA">
</div>
<div class="form-group col-md-4">
<label for="currency">Raridade</label><br/>
<select class="form-control" ng-model="allMinersRarity" ng-change="filterAllMiners(allMinerNameSearch, allMinersRarity, {min:allMinerMinBonusSearch, max:allMinerMaxBonusSearch}, allMinerNegotiableStatus, allMinerPosessionStatus, allMinerCollectionId, allMinerMinPowerSearch, allMinerMaxPowerSearch, allMinerCells, allMinerMinImpact)">
<option value="all">Todas</option>
<option value="common">Common</option>
<option value="legacy">Legacy</option>
<option value="uncommon">Uncommon</option>
<option value="rare">Rare</option>
<option value="epic">Epic</option>
<option value="legendary">Legendary</option>
<option value="unreal">Unreal</option>
</select>
</div>
<div class="form-group col-md-4 ng-binding">
<label for="currency">Bônus</label><br>
De   
<input class="form-control" ng-model="allMinerMinBonusSearch" type="text" style="width: 21%;" ng-change="filterAllMiners(allMinerNameSearch, allMinersRarity, {min:allMinerMinBonusSearch, max:allMinerMaxBonusSearch}, allMinerNegotiableStatus, allMinerPosessionStatus, allMinerCollectionId, allMinerMinPowerSearch, allMinerMaxPowerSearch, allMinerCells, allMinerMinImpact)">
A  <input class="form-control" ng-model="allMinerMaxBonusSearch" type="text" style="width: 21%;" ng-change="filterAllMiners(allMinerNameSearch, allMinersRarity, {min:allMinerMinBonusSearch, max:allMinerMaxBonusSearch}, allMinerNegotiableStatus, allMinerPosessionStatus, allMinerCollectionId, allMinerMinPowerSearch, allMinerMaxPowerSearch, allMinerCells, allMinerMinImpact)">
</div>
<div class="form-group col-md-4">
<label for="currency">Negociável</label><br/>
<select class="form-control" ng-model="allMinerNegotiableStatus" ng-change="filterAllMiners(allMinerNameSearch, allMinersRarity, {min:allMinerMinBonusSearch, max:allMinerMaxBonusSearch}, allMinerNegotiableStatus, allMinerPosessionStatus, allMinerCollectionId, allMinerMinPowerSearch, allMinerMaxPowerSearch, allMinerCells, allMinerMinImpact)">
<option value="all">Todas</option>
<option value="inegotiable">Não negociáveis</option>
<option value="negotiable">Negociáveis</option>
</select>
</div>
<div class="form-group col-md-4">
<label for="currency">Tenho em sala</label><br/>
<select class="form-control" ng-model="allMinerPosessionStatus" ng-change="filterAllMiners(allMinerNameSearch, allMinersRarity, {min:allMinerMinBonusSearch, max:allMinerMaxBonusSearch}, allMinerNegotiableStatus, allMinerPosessionStatus, allMinerCollectionId, allMinerMinPowerSearch, allMinerMaxPowerSearch, allMinerCells, allMinerMinImpact)">
<option value="all">Todas</option>
<option value="mine">Somente as minhas</option>
<option value="not_mine">Somente novas</option>
</select>
</div>

<div class="form-group col-md-4">
<label for="currency">Coleção</label><br/>
<select class="form-control" ng-model="allMinerCollectionId" ng-change="filterAllMiners(allMinerNameSearch, allMinersRarity, {min:allMinerMinBonusSearch, max:allMinerMaxBonusSearch}, allMinerNegotiableStatus, allMinerPosessionStatus, allMinerCollectionId, allMinerMinPowerSearch, allMinerMaxPowerSearch, allMinerCells, allMinerMinImpact)">
<option value="-1">Todas</option>
<option ng-repeat="collection in collections" value="{{collection.id}}">{{collection.name}}</option>
</select>
</div>

<div class="form-group col-md-4">
<label for="currency">Poder mínimo (GH/s)</label><br/>
<input placeholder="1" class="form-control" ng-model="allMinerMinPowerSearch" type="text" ng-change="filterAllMiners(allMinerNameSearch, allMinersRarity, {min:allMinerMinBonusSearch, max:allMinerMaxBonusSearch}, allMinerNegotiableStatus, allMinerPosessionStatus, allMinerCollectionId, allMinerMinPowerSearch, allMinerMaxPowerSearch, allMinerCells, allMinerMinImpact)">
</div>

<div class="form-group col-md-4">
<label for="currency">Poder máximo (GH/s)</label><br/>
<input placeholder="999999999999" class="form-control" ng-model="allMinerMaxPowerSearch" type="text" ng-change="filterAllMiners(allMinerNameSearch, allMinersRarity, {min:allMinerMinBonusSearch, max:allMinerMaxBonusSearch}, allMinerNegotiableStatus, allMinerPosessionStatus, allMinerCollectionId, allMinerMinPowerSearch, allMinerMaxPowerSearch, allMinerCells, allMinerMinImpact)">
</div>

<div class="form-group col-md-4">
<label for="currency">Células</label><br/>
<select class="form-control" ng-model="allMinerCells" ng-change="filterAllMiners(allMinerNameSearch, allMinersRarity, {min:allMinerMinBonusSearch, max:allMinerMaxBonusSearch}, allMinerNegotiableStatus, allMinerPosessionStatus, allMinerCollectionId, allMinerMinPowerSearch, allMinerMaxPowerSearch, allMinerCells, allMinerMinImpact)">
<option value="all">Todas</option>
<option value="1">1 Slot</option>
<option value="2">2 Slots</option>
</select>
</div>

<div class="form-group col-md-4">
<label for="currency">Impacto mínimo (GH/s)</label><br/>
<input placeholder="999999999999" class="form-control" ng-model="allMinerMinImpact" type="text" ng-change="filterAllMiners(allMinerNameSearch, allMinersRarity, {min:allMinerMinBonusSearch, max:allMinerMaxBonusSearch}, allMinerNegotiableStatus, allMinerPosessionStatus, allMinerCollectionId, allMinerMinPowerSearch, allMinerMaxPowerSearch, allMinerCells, allMinerMinImpact)">
</div>

<!--<div class="form-group col-md-4">
<button ng-click="loadWorstMinerImpact()" style="margin-top:28px">Minhas piores máquinas</button>
<p>{{lowestMinerName}}</p>
<p>{{lowestImpactOneCellMiner}}</p>
</div> -->
   
<div ng-if="formData.showAllMiners">
<table class="- - -">
<thead>
<tr>
<th colspan="8" style="text-align: center">
Miners encontradas: {{allMiners.length}}
</th>
</tr>
<tr>
<th style="text-align: center">
Nome
</th>
<th style="text-align: center">
<a href="#" ng-click="orderByAllMinersField='recipe_cost'; reverseAllMinersSort = !reverseAllMinersSort  ; $event.preventDefault();">
Receita
<span ng-show="orderByAllMinersField == 'recipe_cost'">
<span ng-show="!reverseMinersSort">
<i class="fa fa-fw fa-sort-asc"></i>
</span>
<span ng-show="reverseMinersSort">
<i class="fa fa-fw fa-sort-desc"></i>
</span>
</span>
</a>
</th>
<th style="text-align: center">
<a href="#" ng-click="orderByAllMinersField='craft_cost_diff'; reverseAllMinersSort = !reverseAllMinersSort  ; $event.preventDefault();">
Desconto merge (%)
<span ng-show="orderByAllMinersField == 'craft_cost_diff'">
<span ng-show="!reverseMinersSort">
<i class="fa fa-fw fa-sort-asc"></i>
</span>
<span ng-show="reverseMinersSort">
<i class="fa fa-fw fa-sort-desc"></i>
</span>
</span>
</a>
</th>
<th style="text-align: center">
<a href="#" ng-click="orderByAllMinersField='supply'; reverseAllMinersSort = !reverseAllMinersSort  ; $event.preventDefault();">
Supply
<span ng-show="orderByAllMinersField == 'supply'">
<span ng-show="!reverseMinersSort">
<i class="fa fa-fw fa-sort-asc"></i>
</span>
<span ng-show="reverseMinersSort">
<i class="fa fa-fw fa-sort-desc"></i>
</span>
</span>
</a>
</th>
<th style="text-align: center">
<a href="#" ng-click="orderByAllMinersField='power'; reverseAllMinersSort = !reverseAllMinersSort  ; $event.preventDefault();">
Poder
<span ng-show="orderByAllMinersField == 'power'">
<span ng-show="!reverseMinersSort">
<i class="fa fa-fw fa-sort-asc"></i>
</span>
<span ng-show="reverseMinersSort">
<i class="fa fa-fw fa-sort-desc"></i>
</span>
</span>
</a>
</th>
<th style="text-align: center">
<a href="#" ng-click="orderByAllMinersField='bonus_power'; reverseAllMinersSort = !reverseAllMinersSort  ; $event.preventDefault();">
Bônus
<span ng-show="orderByAllMinersField == 'bonus_power'">
<span ng-show="!reverseMinersSort">
<i class="fa fa-fw fa-sort-asc"></i>
</span>
<span ng-show="reverseMinersSort">
<i class="fa fa-fw fa-sort-desc"></i>
</span>
</span>
</a>
</th>
<th style="text-align: center">
<a href="#" ng-click="orderByAllMinersField='includeImpactPower'; reverseAllMinersSort = !reverseAllMinersSort  ; $event.preventDefault();">
Impacto
<span ng-show="orderByAllMinersField == 'includeImpactPower'">
<span ng-show="!reverseMinersSort">
<i class="fa fa-fw fa-sort-asc"></i>
</span>
<span ng-show="reverseMinersSort">
<i class="fa fa-fw fa-sort-desc"></i>
</span>
</span>
</a>
</th>
<th style="text-align: center">
Ações
</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="miner in allMiners | orderBy:orderByAllMinersField:reverseAllMinersSort | limitTo:  itemsPerPage : (currentPage - 1) * itemsPerPage"  
ng-class="{ 'already-have-miner': miner.already_have }" >
<td style="text-align: center; position: relative;">
{{miner.name.en}}<br/>
<img ng-if="miner.level == 0" src='https://rollercoin.com/static/img/storage/rarity_icons/level_1.png?v=1.0.0' style='left: 40px;position: absolute;top: 40px;'/>
<img ng-if="miner.type === 'old_merge'" src='https://rollercoin.com/static/images/level_star.4ff18517e5e8eed42060..png' style='left: 40px;position: absolute;top: 40px;'/>
<img ng-if="miner.level > 0 && miner.type !== 'old_merge'" src='https://rollercoin.com/static/img/storage/rarity_icons/level_{{miner.level+1}}.png?v=1.0.0' style='left: 40px;position: absolute;top: 40px;'/>
<img src='https://static.rollercoin.com/static/img/market/miners/{{miner.filename}}.gif?v=1707996476608' width="80px" height="auto"/>
<div ng-if="!miner.is_can_be_sold_on_mp"
style="
height: 10px;
width: 100px;
background-color: red;
font-size: 0.6em;
font-weight: bold;
margin-left: 8%;
color: white;
">INEGOCIAVEL</div>
</td>
<td style="text-align: center">
<p ng-repeat="item in miner.craft_items">
<span ng-if="item.component_type === 'mutation_components'"><img width="20" height="20" src="https://static.rollercoin.com/static/img/storage/mutation_components/{{item._id}}.png?v=1.0.1"/> {{item.count}} <i style="font-size:10px;margin-left:2px" ng-click="openBuyCraftLink(item._id, 'mutation_component')" class="fas fa-external-link-alt"></i></span>
<span ng-if="item.component_type === 'miners'"><img width="20" height="20" src="https://rollercoin.com/static/images/basic_miner.39e37c9f62068115758b..svg"/> {{item.count}} <i style="font-size:10px;margin-left:2px" ng-click="openBuyCraftLink(item._id, 'miner')" class="fas fa-external-link-alt"></i></span>
</p>
<p>
{{miner.recipe_cost}} RLT
</p>
<p ng-repeat="item in miner.old_craft_items">
<span ng-if="item.component_type === 'mutation_components'"><img width="20" height="20" src="https://static.rollercoin.com/static/img/storage/mutation_components/{{item._id}}.png?v=1.0.1"/> <s>{{item.count}}</s> <i style="font-size:10px;margin-left:2px" ng-click="openBuyCraftLink(item._id, 'mutation_component')" class="fas fa-external-link-alt"></i></span>
</p>
<p>
<s>{{miner.old_recipe_cost}} RLT</s>
</p>
</td>
<td style="text-align: center">
{{miner.craft_cost_diff}}%
</td>
<td style="text-align: center">
{{miner.supply}}
</td>
<td style="text-align: center">
{{chooseBestHashRateUnit(miner.power, 'GH/s').value.toFixed(2)}}{{chooseBestHashRateUnit(miner.power, 'GH/s').unit}}
</td>
<td style="text-align: center">
{{(miner.bonus_power / 100)}}%
</td>
<td style="text-align: center">
{{miner.includeImpactLegend.value.toFixed(2)}} {{miner.includeImpactLegend.unit}}
</td>
<td style="text-align: center">
<button style="min-width: 80px;margin: 4px;" ng-click="addMinerToSimulation(miner)">Adicionar!</button><br/>
<button style="min-width: 80px;margin: 4px;" ng-click="openBuyLink(miner)">Comprar</button>
</td>
</tr>
</tbody>
</table>
<ul uib-pagination first-text="Primeira Pág." previous-text="Anterior" last-text="Última Pág." next-text="Próxima Pág." total-items="allMiners.length" ng-model="currentPage" max-size="5" class="pagination-sm" items-per-page="itemsPerPage" boundary-links="true" num-pages="numPages"></ul>
</div>
</div>

</div>
</div>
<div style="text-align: center;">
<button ng-click="resetValues()">↻ Verileri güncelle</button>
</div>
</body>
</html>
