@import url(https://fonts.bunny.net/css?family=creepster:400|poppins:300,400,600,800);

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--clr-bg: rgb(0, 2, 5);
	--clr-primary: rgb(202 201 201);
	--clr-secondary: rgb(155 3 3);
}
body {
	font-family: "Poppins", sans-serif;
	background-color: var(--clr-bg);
	color: var(--clr-primary);
	min-height: 100svh;
	display: grid;
	place-content: center;
	line-height: 1.4;
}

body::before {
	content: "";
	background: url("https://raw.githubusercontent.com/cbolson/icodethis-challenges/main/assets/images/nightmare-on-elm-street-poster.webp");
	background-size: cover;
	position: absolute;
	inset: 0;
	z-index: -10;
	opacity: 0.15;
}

.wrapper {
	--grid-tpl-cols: 1fr;
	--grid-tpl-rows: 200px;
	--grid-tpl-areas: "." "title" "genres" "content";

	--main-img-width: 50%;
	--main-img-top: -5rem;
	--main-img-right: auto;
	--main-img-left: 0.5rem;
	--main-border: linear-gradient(
			to bottom,
			rgba(155 3 3 / 0.75),
			rgba(255 255 255 / 0.5)
		)
		70;

	--title-align: center;

	width: min(80vw, 800px);
	min-width: calc(100% - 1rem);
	background-color: rgba(0 0 0 / 0.5);
	backdrop-filter: blur(5px);
	padding: var(--main-padding, 1rem);
	color: white;
	border-radius: 1rem;
	position: relative;
	border: 1px solid rgba(155 3 3 / 0.5);
	border-image: var(--main-border);
	display: grid;
	grid-template-columns: var(--grid-tpl-cols);
	grid-template-areas: var(--grid-tpl-areas);
	grid-template-rows: var(--grid-tpl-rows);
}
@media (max-width: 400px) {
	.wrapper {
		--cast-col-count: 1;
	}
}
@media (min-width: 600px) {
	.wrapper {
		--grid-tpl-cols: 3fr 1fr 10rem;
		--grid-tpl-areas: "title title . " "genres genres ." "content . . ";
		--grid-tpl-rows: auto auto auto;
		--main-padding: 2rem;
		--main-border: linear-gradient(
				-70deg,
				rgba(155 3 3 / 0.75),
				rgba(255 255 255 / 0.5)
			)
			70;
		--title-align: left;
		--main-img-width: 50%;
		--main-img-top: -4rem;
		--main-img-right: -11rem;
		--main-img-left: auto;
	}
}
.wrapper > * {
	/*outline: 1px dashed red;*/
}

.movie-image {
	grid-area: hand;
	content: "";
	position: absolute;
	top: var(--main-img-top);
	right: var(--main-img-right);
	left: var(--main-img-left);
	width: var(--main-img-width);
	height: auto;
	z-index: -2;
	filter: drop-shadow(-20px 20px 10px rgba(155 3 3 / 0.15));
}

h1 {
	grid-area: title;
	font-size: clamp(1rem, 3vw + 0.5rem, 3rem);
	font-weight: 600;
	line-height: 1;
	font-family: "Creepster", display;
	color: var(--clr-secondary);
	text-align: var(--title-align);
	margin-bottom: 1rem;
}

.genres {
	grid-area: genres;
	font-size: 0.8rem;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin-block: 0.5rem;
}
.genres > span {
	border-radius: 999px;
	padding: 0.25rem 0.75rem;
	font-size: 0.65rem;
	color: #aaa;
	background-color: rgba(255 255 255 / 0.15);
}
.rating {
	font-weight: 600;
	color: var(--clr-secondary);
}

.main-content {
	grid-area: content;
	display: grid;
	grid-template-rows: auto auto;
	gap: 0.5rem;
	font-size: 0.8rem;
	text-wrap: balance;
}
.main-content h2 {
	margin-top: 0.75rem;
	font-size: 1rem;
	font-weight: 600;
}
.main-content p {
	color: #aaa;
}
.main-content ul {
	margin-bottom: 1rem;
	columns: var(--cast-col-count, 2);
	margin-left: 1.5rem;
}
.main-content a {
	font-size: 0.875rem;
	color: #aaa;
	transition: color 300ms;
	text-decoration: none;
}

.main-content a:hover {
	color: var(--clr-secondary);
}
p.hashtag {
	font-size: 0.7rem;
	margin: 0.5rem;
}
