:root {
  --primary: #fbfcfc;
  --active: #f1f1f1;
  --secondary: #767777;
  --grey: #8a8b8b;
  --b-pad: 10px;
  --s-pad: 5px;
  --bg: #181928;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: var(--bg);
}

a.channel {
  color: inherit;
  text-decoration: none;
}
a.channel:hover {
  text-decoration: underline;
}

.title {
  color: var(--secondary);
  font-size: 13px;
  font-weight: bold;
}
.sub-title {
  color: var(--grey);
  font-size: 13px;
}
.icon-active {
  filter: sepia(100%) hue-rotate(150deg) saturate(400%);
}

#playlist {
  top: 50%;
  left: 50%;
  width: 80vw;
  height: 60vh;
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all ease 0.3s;
}

#video-dis {
  flex: 6.5;
  margin-right: 20px;
  background: black;
}
#video-dis iframe {
  width: 100%;
  height: 100%;
  border: 1px dashed #ff6550;
}
.video-li {
  flex: 3.5;
  display: flex;
  padding: var(--b-pad);
  border-radius: 3px;
  flex-direction: column;
  background: var(--primary);
  border: 1px dashed #ff6550;
}
.li-collapsed {
  overflow: hidden;
  height: 40px;
}
#vli-info {
  flex: 3;
  padding: 0 var(--b-pad) 0 var(--b-pad);
}

#upper-info {
  display: flex;
}

#li-titles {
  flex: 9;
}
#li-titles div {
  padding-bottom: 5px;
}

#drop-icon {
  flex: 1;
  cursor: pointer;
  background: url(https://user-images.githubusercontent.com/50569315/118832584-92350500-b8e2-11eb-8398-9a90a4615b98.png)
    no-repeat center;
  background-size: 50%;
}

#lower-info {
  display: flex;
  padding-top: var(--b-pad);
}
#lower-info div {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
#btn-repeat {
  margin-right: var(--b-pad);
  background: url(https://user-images.githubusercontent.com/50569315/118832591-93663200-b8e2-11eb-8b98-3b177304b555.png)
    no-repeat left;
  background-size: 50%;
}
#btn-suffle {
  margin-right: var(--b-pad);
  background: url(https://user-images.githubusercontent.com/50569315/118832597-93fec880-b8e2-11eb-9146-f978064eddb1.png)
    no-repeat left;
  background-size: 45%;
}
#btn-save {
  margin-left: auto;
  order: 2;
  right: 10px;
  margin-right: var(--b-pad);
  background: url(https://user-images.githubusercontent.com/50569315/118832594-93fec880-b8e2-11eb-8201-12cb52be231f.png)
    no-repeat right;
  background-size: 60%;
}

#vli-videos {
  overflow: auto;
}

.video-con {
  display: flex;
  cursor: pointer;
  padding: var(--s-pad);
  column-gap: var(--s-pad);
  margin-bottom: var(--b-pad);
  border: 1px dashed #ff6550;
}

::-webkit-scrollbar {
    background: #2f3045;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: red;
}

.video-con:hover,
.active-con {
  background: var(--active);
}
.index {
  min-width: 15px;
  align-self: center;
}
.thumb {
  width: 100px;
  height: 60px;
  background: var(--secondary);
}
.thumb img {
  width: 100%;
}
.v-titles {
  flex: 6;
}
.v-titles div:nth-child(2) {
  margin-top: var(--s-pad);
}

@media only screen and (max-width: 1150px) {
  #playlist {
    width: 95vw;
    height: 60vh;
  }
}
@media only screen and (max-width: 950px) {
  #playlist {
    top: 10%;
    width: 50vw;
    margin: 0 auto;
    display: block;
    align-items: center;
    transform: translate(-50%, 0%);
  }
  #video-dis {
    margin-bottom: var(--b-pad);
    width: 100%;
    height: 300px;
  }
}
@media only screen and (max-width: 800px) {
  #playlist {
    width: 60vw;
  }
}
@media only screen and (max-width: 650px) {
  #playlist {
    width: 80vw;
  }
}





/*
	MENÜ AYARLARI
*/
/* --------- Fuentes --------- */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

/* --------- Variables --------- */

:root {
    --bg-header: #2f3045;
    --color-header: #eeeeee;
    --hover: red;
}

/* --------- Hack contenedor --------- */
*, *::before, *::after {
    box-sizing: border-box;
}

/* --------- Estilos generales contenido --------- */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


/* --------- Barra de navegación --------- */
header {
    background: var(--bg-header);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.logo {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-header);
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--color-header);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0; 
    background: var(--bg-header);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: var(--color-header);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1)
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms; 
}

@media screen and (min-width:768px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        all: unset; /* Elimina todos los estilos */
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    nav li {
        margin-left: 1.5em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: var(--hover);
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}



/* --------- Fin Barra de navegación --------- */

