<!DOCTYPE html>
<html lang="en" ng-app="miningApp">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<!--===============================================================================================-->
<title>RCHesapla • Kişisel Kazım Gücünü Hesapla!</title>
<meta name="description" content="Rollercoin kişisel kazım gücünü hesapla!">
<meta name="author" content="Fatih ÇELİK">
<!--===============================================================================================-->
<link rel="stylesheet" href="./css/style_v2.css">
<link rel="stylesheet" href="./css/tablo.css">
<link rel="stylesheet" href="./css/fonts.css">
<!--===============================================================================================-->
<link rel="stylesheet" href="./css/input.css">
<link rel="stylesheet" href="./css/button.css">
<link rel="stylesheet" href="./css/solmenu.css">
<link rel="stylesheet" href="./css/ytsayac.css">
<link rel="stylesheet" href="./css/checkbox.css">
<!--===============================================================================================-->
<link rel="stylesheet" href="./css/benihatirla.css">
<!--===============================================================================================-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!--===============================================================================================-->
<link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
<meta name="google-site-verification" content="zLhTa_Vn0bP5jm3ZYoCir1VtRUw2xHvHclGPHv3d4-o" />
<!--===============================================================================================-->
<meta name="keywords" content="rchesapla, turkcraft01, pb01adana, rollercoin, rollercoin hesapla, rollercoin calculator, rollercoin güç hesaplama, bitcoin hesapla, doge hesapla, eth hesapla, xrp hesapla">
<!--===============================================================================================-->
<meta property="og:title" content="☪ RCHesapla ☪ • Kişisel Kazım Gücünü Hesapla!">
<meta property="og:description" content="Anlık, günlük, haftalık, aylık aynı zamanda yıllık olarak hesaplama yapabilirsin.">
<meta property="og:image" content="https://media.discordapp.net/attachments/798825351555317760/960999892480823356/standard.gif?ex=67aa61e4&is=67a91064&hm=20ad890e21ab9025a1b5ba26e6f1ceb697d13f3138af57063e80602f8835f8ce">
<meta property="og:url" content="https://rchesapla.github.io/">
<!--===============================================================================================-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">
<!--===============================================================================================-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/spark-md5/3.0.0/spark-md5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
<!--===============================================================================================-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5"></script>
<script src="https://kit.fontawesome.com/15ed6ea9e5.js" crossorigin="anonymous"></script>
<!--===============================================================================================-->
<script src="https://wminerrc.github.io/calculator/data/basic_miners.js"></script>
<script src="https://wminerrc.github.io/calculator/data/merge_miners.js"></script>
<script src="https://wminerrc.github.io/calculator/data/old/merge_miners.js"></script>
<script src="https://wminerrc.github.io/calculator/data/components.js"></script>
<!--===============================================================================================-->
<script src="js/app.js"></script>
<script src="js/firebase-db-service.js"></script>
<!--===============================================================================================-->
<script src="js/services.js"></script>
<script src="js/user-miner-service.js"></script>
<script src="js/miner-service.js"></script>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css'>
<link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
<!--===============================================================================================-->
</head>
<!--===============================================================================================-->
<body ng-controller="MiningController">
    <div class="loading-overlay" ng-show="isLoading">

<div class="keyboard">
  <span class="key">R</span>
  <span class="key">C</span>
  <span class="key">H</span>
  <span class="key">E</span>
  <span class="key">S</span>
  <span class="key">A</span>
  <span class="key">P</span>
  <span class="key">L</span>
  <span class="key">A</span>
</div>


    </div>

<div class="topbar">
<!-- Sol taraf -->
<div class="topbar-left">
<img src="img/gif/üstbarlogo.gif" alt="Miner"/>
</div>

<!-- Sağ taraf -->
<div class="topbar-right">
<!--div class="user-info" ng-if="isLoadedUser">
<img src="https://avatars.rollercoin.com/static/avatars/thumbnails/48/{{user_data.avatar_id}}.png?v=1652150400524" style="width: 30px; height: 30px; border-radius: 50%; vertical-align: middle; margin-right: 8px;">
<div>
<div class="username">RC Kul. Adı:<div class="açıklama">{{user_data.name}}</div></div>
</div>
</div-->
<!-- -->
<div class="user-info">
<img src="https://cdn-icons-png.flaticon.com/128/3774/3774901.png" style="width: 30px; height: 30px; border-radius: 50%; vertical-align: middle; margin-right: 8px;">
<div>
<div class="username">Aktiflik (Gün):<div class="açıklama" id="cpcontainer">Yükleniyor...</div></div>
</div>
</div>
<!-- -->
<div class="user-info">
<img src="https://images.vexels.com/media/users/3/137425/isolated/preview/f2ea1ded4d037633f687ee389a571086-youtube-icon-logo.png?w=360" style="width: 30px; height: 30px; border-radius: 50%; vertical-align: middle; margin-right: 8px;">
<div>
<div class="username">YT Abone:<div class="açıklama" id="count">Yükleniyor...</div></div>
</div>
</div>
<!-- -->
</div>
</div>

<script>
const API_KEY = "AIzaSyBRyH1_qHbSOYlNPFaq1OCJp6cTRwrmMzs";
const CHANNEL_ID = "UCiS4gfhe4kmmgXB4Wny43kQ";

async function getSubscriberCount() {
    const url = `https://www.googleapis.com/youtube/v3/channels?part=statistics&id=${CHANNEL_ID}&key=${API_KEY}`;
    
    try {
        const response = await fetch(url);
        const data = await response.json();
        const subs = data.items[0].statistics.subscriberCount;
        document.getElementById("count").innerText = Number(subs).toLocaleString("tr-TR");
    } catch (error) {
        document.getElementById("count").innerText = "Hata!";
    }
}

// İlk yükleme
getSubscriberCount();

// 10 saniyede bir güncelle (canlıya yakın)
setInterval(getSubscriberCount, 10000);
</script>
<div class="main-content">
<section class="container">
<div class="row">
<!--===============================================================================================-->
<div class="col-0 col-md-1"></div>
<!--===============================================================================================-->
<!-- END PUBLICIDAD -->
<!--===============================================================================================-->
<!-- CONTENIDO -->
<div class="col-12 col-md-10">
<!--===============================================================================================-->
<center>

</center>
<!--===============================================================================================-->
<div class="row">
<article class="col-md-4" style="text-align: center">
<div class="card-fc my-2 özelfont">
<div class="card-header"></div>
<div class="card-body">
<!--===============================================================================================-->
<div style="text-align: center">
<div class="buttons">
<!--button class="blob-btn" ng-if="isLoadedUser" ng-click="reloadWithoutUser()">
<span><i class="fa-solid fa-user-xmark"></i> Beni Unut</span>
<span class="blob-btn__inner">
<span class="blob-btn__blobs">
<span class="blob-btn__blob"></span>
<span class="blob-btn__blob"></span>
<span class="blob-btn__blob"></span>
<span class="blob-btn__blob"></span>
</span>
</span>
</button-->
<button id="verigüncelle" class="checkbox-group" ng-click="resetValues()">
<span><i class="fa-solid fa-coins"></i> Verileri Güncelle</span>
</button>
<!--button id="box2" class="blob-btn" ng-disabled="!formData.power || formData.currency" ng-click="calculateAllCoins()">
<span><i class="fa-solid fa-coins"></i> En İyi Kazanç</span>
</button-->

<div class="checkbox-group" ng-if="isLoadedUser">
  <input type="checkbox" id="checkbox1" ng-model="formData.showMiners" name="show_miners"/>
  <label for="checkbox1">Minerlarım</label>

  <input type="checkbox" id="checkbox2" ng-model="formData.showAllMiners" ng-change="filterAllMiners()" name="show_all_miners"/>
  <label for="checkbox2">Miner Listesi</label>
</div>
</div>
</div>
<!--===============================================================================================-->
<div class="şiş">
<div class="row my-1">
<span class="labelbaşlık">RC Kul. Adı:</span>
<div class="input-container">
<input id="type"
ng-model="userSearchText"
typeahead-wait-ms="300"
uib-typeahead="player as player.code for player in getPlayerByName($viewValue)"
typeahead-no-results="playerSearchNoResults"
typeahead-on-select="onSelectPlayer($item, $model, $label, $event)"
typeahead-loading="loading"
placeholder="Örn: FthCLK"
class="- - -"/>
</div>
</div>
</div>
<!--===============================================================================================-->
<div class="row my-1">
<span class="labelbaşlık">Lig seç:</span>
<div class="input-container">
<select id="type" class="- - -" ng-model="formData.league" ng-options="league.name for league in leagues" ng-change="updateLeagueDetails()" ng-disabled="isLoadedUser">
<option value=""></option>

</select>
</div>
</div>
<!--===============================================================================================-->
<div class="row my-1">
<span class="labelbaşlık">Kripto seç:</span>
<div class="input-container">
<select id="type" id="currency" ng-model="formData.currency" ng-options="currency.name for currency in currencies" ng-change="updateCurrencyDetails()" class="- - -">
<option value="">Hepsini göster</option>
</select>
</div>
</div>
<!--===============================================================================================-->
<div class="row">
<span class="labelbaşlık">Ağ gücü:</span>
<div class="input-container">
<input id="type" id="networkPower" ng-model="formData.networkPower" type="number" name="inputNetworkPower" class="- - -" placeholder="Ağ gücünü giriniz..." disabled>
<select id="type" id="networkUnit" ng-model="formData.networkUnit" ng-change="updateNetworkPowerUnit('{{formData.networkUnit}}')" class="- - -" disabled>
<option ng-repeat="unit in networkUnits">{{unit}}</option>
</select>
</div>
</div>
<!--===============================================================================================-->
<div class="şiş">
<div class="row my-1">
<span class="labelbaşlık">Kazım gücü:</span>
<div class="input-container">
<input id="type" type="number" id="power" ng-model="formData.power" class="- - -" placeholder="Kazım gücünü giriniz..." ng-disabled="isLoadedUser" />
<select id="type" id="unit" ng-model="formData.unit" ng-options="unit for unit in units" ng-change="updatePowerUnit('{{formData.unit}}')" class="- - -" ng-disabled="isLoadedUser">
</select>
</div>
</div>
</div>
<!--===============================================================================================-->
<div class="şiş">
<div class="row my-1">
<span class="labelbaşlık">Blok ödülü:</span>
<div class="input-container">
<input id="type" type="number" id="blockSize" ng-model="formData.blockSize" class="- - -" placeholder="Blok ödülünü giriniz..." disabled>
</div>
</div>
</div>
<!--===============================================================================================-->
<div class="şiş">
<div class="row my-1">
<span class="labelbaşlık">Blok süresi:</span>
<div class="input-container">
<input id="type" type="number" id="blockTime" ng-model="formData.blockTime" class="- - -" placeholder="Blok süresini giriniz..." disabled>
<select id="type" id="timeUnit" ng-model="formData.timeUnit" ng-change="updateTimeUnit('{{formData.timeUnit}}')" class="- - -" disabled>
<option value="seconds">Saniye</option>
<option value="minutes">Dakika</option>
</select>
</div>
</div>
</div>
<!--===============================================================================================-->
<div class="- - --container" ng-show="playerSearchNoResults" style="text-align: center">
<i class="fa-solid fa-ban"></i> Böyle bir kullanıcı adı bulunmuyor lüften kontrol ediniz.!
</div>
<!--===============================================================================================-->
</div>
<h6 class="card-header head text-center"></h6>
</div>
<!--===============================================================================================-->
<center>
<div class="stats-widget">
    <div class="title">📊 YOUTUBE KANAL İSTATİSTİKLERİ</div>

    <div class="stat">
        <span class="label">👤 Aboneler</span>
        <span class="value" id="subs">---</span>
    </div>

    <div class="stat">
        <span class="label">👁️ Görüntülenme</span>
        <span class="value" id="views">---</span>
    </div>

    <div class="stat">
        <span class="label">🎥 Videolar</span>
        <span class="value" id="videos">---</span>
    </div>
	    <!-- KANAL LİNKİ -->
    <div class="channel-link">
        <a href="https://www.youtube.com/@fatihcelik" target="_blank" rel="noopener noreferrer">
            🔗 Kanalı Ziyaret Et
        </a>
    </div>
</div>

<script>

fetch(`https://www.googleapis.com/youtube/v3/channels?part=statistics&id=${CHANNEL_ID}&key=${API_KEY}`)
    .then(res => res.json())
    .then(data => {
        const stats = data.items[0].statistics;
        document.getElementById("subs").innerText =
            Number(stats.subscriberCount).toLocaleString("tr-TR");
        document.getElementById("views").innerText =
            Number(stats.viewCount).toLocaleString("tr-TR");
        document.getElementById("videos").innerText =
            Number(stats.videoCount).toLocaleString("tr-TR");
    })
    .catch(err => console.error(err));
</script>

</center>
<!--===============================================================================================-->
</article>
<style>
:root {
  --panel: #0f1630;
  --card: #111a3a;
  --accent: #00e5ff;
  --text: #e6ecff;
  --muted: #8fa3ff;
}

/* Main Container */
.containertest {
  max-width: 1200px;
  margin: auto;
  background: #1b2130;
  padding: 28px;
}

/* Header */
.headertest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.headertest h2 {
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffdc00;
}

.update {
  border: 1px solid var(--accent);
  color: var(--accent);
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 12px;
}

/* League */
.league {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 28px;
}

.badge {
  width: 56px;
  height: 56px;
  border-radius: 10px;
  border: 1px solid var(--border);
  display: grid;
  place-items: center;
  font-weight: bold;
  background: linear-gradient(145deg, #1a255a, #0e1433);
}

.league-info h3 {
  margin: 0;
  font-size: 20px;
}

.league-info span {
  font-size: 12px;
  color: var(--muted);
}

/* Rewards Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
}

/* Reward Card */
.cardtest {
  background: linear-gradient(180deg, #121b40, #0d1330);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 16px;
  position: relative;
}

.card-headertest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.coin {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.coin-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #1f2c66;
  display: grid;
  place-items: center;
  font-size: 14px;
}

.timer {
  font-size: 15px;
  color: var(--accent);
  border: 1px solid rgba(0,229,255,0.3);
  padding: 4px 8px;
  border-radius: 6px;
}

.amount {
  font-size: 20px;
  color: var(--accent);
  font-weight: 700;
}

.link {
  position: absolute;
  right: 14px;
  bottom: 14px;
  width: 28px;
  height: 28px;
  border-radius: 6px;
  border: 1px solid var(--border);
  display: grid;
  place-items: center;
  color: var(--accent);
  cursor: pointer;
}

.link:hover {
  background: rgba(0,229,255,0.1);
}
</style>
<!--===============================================================================================-->
<aside class="col-md-8">
<!--===============================================================================================-->
<div class="card-fc my-2">
<div class="card-header"></div>
<div ng-if="user_data">
<div class="containertest" ng-if="isLoadedUser">

  <div class="grid">
    <!-- Card -->
    <div class="cardtest">
      <div class="card-headertest">
        <div class="timer">RC Kul. Adı</div>
      </div>
      <div class="amount">{{user_data.name}}</div>
    </div>
	<!-- Card -->
    <div class="cardtest">
      <div class="card-headertest">
        <div class="timer">Oyun Gücü</div>
      </div>
      <div class="amount">{{chooseBestHashRateUnit(user_data.powerData.games, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.powerData.games, 'GH/s').unit}}</div>
    </div>
	<!-- Card -->
    <div class="cardtest">
      <div class="card-headertest">
        <div class="timer">Mıner Gücü</div>
      </div>
      <div class="amount">{{chooseBestHashRateUnit(user_data.powerData.miners, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.powerData.miners, 'GH/s').unit}}</div>
    </div>
	<!-- Card -->
    <div class="cardtest">
      <div class="card-headertest">
        <div class="timer">Raf Gücü</div>
      </div>
      <div class="amount">{{chooseBestHashRateUnit(user_data.powerData.racks, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.powerData.racks, 'GH/s').unit}}</div>
    </div>
	<!-- Card -->
    <div class="cardtest">
      <div class="card-headertest">
        <div class="timer">Geçici Gücü</div>
      </div>
      <div class="amount">{{chooseBestHashRateUnit(user_data.powerData.temp, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.powerData.temp, 'GH/s').unit}}</div>
    </div>
	<!-- Card -->
    <div class="cardtest">
      <div class="card-headertest">
        <div class="timer">Bonus Oranı</div>
      </div>
      <div class="amount">{{(user_data.powerData.bonus_percent / 100)}}%</div>
    </div>
	<!-- Card -->
    <div class="cardtest">
      <div class="card-headertest">
        <div class="timer">Toplam Gücü</div>
      </div>
      <div class="amount">{{chooseBestHashRateUnit(user_data.powerData.total, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.powerData.total, 'GH/s').unit}}</div>
    </div>
	<!-- Card -->
    <div class="cardtest">
      <div class="card-headertest">
        <div class="timer">Güncelleme Tarihi</div>
      </div>
      <div class="amount"><span id="tarih"></span>

<script>
  const bugun = new Date();
  const secenekler = {
    weekday: "long",
    year: "numeric",
    month: "long",
    day: "numeric"
  };
  document.getElementById("tarih").innerText =
    bugun.toLocaleDateString("tr-TR", secenekler);
</script></div>
    </div>
	<!-- Card -->
  </div>
</div>
</div>
<!--===============================================================================================-->
<div ng-if="formData.currency">
<table>
<div class="card-header">COIN KAZANÇ İSTATİSTİKLERİ</div>
<thead>
<tr ng-hide="formData.currency.in_game_only" class="deneme">
<th style="text-align: center" colspan="2">1 {{formData.currency.name}} = ${{exchangeRates[formData.currency.name]['usd']}}</th>
<th style="text-align: center" colspan="2">1 {{formData.currency.name}} = {{exchangeRates[formData.currency.name]['try']}}₺</th>
</tr>
<tr class="deneme">
<th style="text-align:center;">GÜNLER</th>
<th style="text-align:center;">COIN</th>
<th style="text-align:center;" ng-hide="formData.currency.in_game_only">$</th>
<th style="text-align:center;" ng-hide="formData.currency.in_game_only">₺</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align: center">BLOK ÖDÜLÜ</td>
<td fatihcelik="KAZANÇ">{{calculateEarnings('block', 'amount')}} {{formData.currency.name}}</td>
<td fatihcelik="$" ng-hide="formData.currency.in_game_only">${{calculateEarnings('block', 'usd')}}</td>
<td fatihcelik="₺" ng-hide="formData.currency.in_game_only">{{calculateEarnings('block', 'try')}}₺</td>
</tr>
<tr>
<td style="text-align: center">GÜNLÜK</td>
<td fatihcelik="KAZANÇ">{{calculateEarnings('day', 'amount')}} {{formData.currency.name}}</td>
<td fatihcelik="$"ng-hide="formData.currency.in_game_only">${{calculateEarnings('day', 'usd')}}</td>
<td fatihcelik="₺"ng-hide="formData.currency.in_game_only">{{calculateEarnings('day', 'try')}}₺</td>
</tr>
<tr>
<td style="text-align: center">HAFTALIK</td>
<td fatihcelik="KAZANÇ">{{calculateEarnings('week', 'amount')}} {{formData.currency.name}}</td>
<td fatihcelik="$"ng-hide="formData.currency.in_game_only">${{calculateEarnings('week', 'usd')}}</td>
<td fatihcelik="₺"ng-hide="formData.currency.in_game_only">{{calculateEarnings('week', 'try')}}₺</td>
</tr>
<tr>
<td style="text-align: center">AYLIK</td>
<td fatihcelik="KAZANÇ">{{calculateEarnings('month', 'amount')}} {{formData.currency.name}}</td>
<td fatihcelik="$"ng-hide="formData.currency.in_game_only">${{calculateEarnings('month', 'usd')}}</td>
<td fatihcelik="₺"ng-hide="formData.currency.in_game_only">{{calculateEarnings('month', 'try')}}₺</td>
</tr>
<tr>
<td style="text-align: center">YILLIK</td>
<td fatihcelik="KAZANÇ">{{calculateEarnings('year', 'amount')}} {{formData.currency.name}}</td>
<td fatihcelik="$"ng-hide="formData.currency.in_game_only">${{calculateEarnings('year', 'usd')}}</td>
<td fatihcelik="₺"ng-hide="formData.currency.in_game_only">{{calculateEarnings('year', 'try')}}₺</td>
</tr>
</tbody>
</table>

<!-- GELİŞMİŞ KAZANÇ & ROI PANELİ -->
<div ng-if="formData.currency" class="card-fc my-3">
  <div class="card-header">📊 GELİŞMİŞ KAZANÇ & ROI ANALİZİ</div>

  <div style="text-align: center">
      <label style="color:white;">💵 YATIRILAN MİKTAR ($)</label>
      <input type="number" id="investmentInput" value="10"/>
      <span id="roiResult" style="color:#00e5ff;"></span>
  </div>

  <div id="earningsChart" style="height:420px;"></div>
  <div id="roiChart" style=" margin-top:30px;"></div>
</div>


<script>
let earningsChart;
let roiChart;

function drawAdvancedCharts() {

    if (!window.echarts) return;

    const scope = angular.element(document.body).scope();
    if (!scope || !scope.formData.currency) return;

    const chartDom = document.getElementById('earningsChart');
    const roiDom = document.getElementById('roiChart');
    if (!chartDom || !roiDom) return;

    const investmentInput = document.getElementById("investmentInput");
    const roiResult = document.getElementById("roiResult");

    const investment = parseFloat(investmentInput.value) || 0;

    const coinName = scope.formData.currency.name;

    const dailyCoin = scope.calculateEarnings('day', 'amount');
    const weeklyCoin = scope.calculateEarnings('week', 'amount');
    const monthlyCoin = scope.calculateEarnings('month', 'amount');
    const yearlyCoin = scope.calculateEarnings('year', 'amount');

    const dailyUSD = scope.calculateEarnings('day', 'usd');
    const weeklyUSD = scope.calculateEarnings('week', 'usd');
    const monthlyUSD = scope.calculateEarnings('month', 'usd');
    const yearlyUSD = scope.calculateEarnings('year', 'usd');

    const dailyTRY = scope.calculateEarnings('day', 'try');
    const weeklyTRY = scope.calculateEarnings('week', 'try');
    const monthlyTRY = scope.calculateEarnings('month', 'try');
    const yearlyTRY = scope.calculateEarnings('year', 'try');

    // ✅ GERÇEK ROI GÜN HESABI
    let roiDays = 0;
    if (dailyUSD > 0 && investment > 0) {
        roiDays = investment / dailyUSD;
        roiResult.innerHTML = `🧠 ROI: <b>${roiDays.toFixed(1)} gün</b>`;
    } else {
        roiResult.innerHTML = "";
    }

    if (!earningsChart) earningsChart = echarts.init(chartDom);
    if (!roiChart) roiChart = echarts.init(roiDom);

    earningsChart.setOption({
        backgroundColor: '#0f1630',
        tooltip: { trigger: 'axis' },
        legend: {
            data: [coinName, 'USD', '₺'],
            textStyle: { color: '#fff' }
        },
        xAxis: {
            type: 'category',
            data: ['Günlük', 'Haftalık', 'Aylık', 'Yıllık'],
            axisLabel: { color: '#fff' }
        },
        yAxis: { type: 'value', axisLabel: { color: '#fff' } },
        series: [
            {
                name: coinName,
                type: 'bar',
                data: [dailyCoin, weeklyCoin, monthlyCoin, yearlyCoin],
                animationDuration: 1000
            },
            {
                name: 'USD',
                type: 'line',
                smooth: true,
                data: [dailyUSD, weeklyUSD, monthlyUSD, yearlyUSD]
            },
            {
                name: '₺',
                type: 'line',
                smooth: true,
                data: [dailyTRY, weeklyTRY, monthlyTRY, yearlyTRY]
            }
        ]
    });
}

setInterval(drawAdvancedCharts, 2000);

window.addEventListener('resize', function () {
    if (earningsChart) earningsChart.resize();
    if (roiChart) roiChart.resize();
});
</script>



</div>
<!--===============================================================================================-->
<div ng-if="!formData.currency">
<table style="text-align: center">
<div class="card-header">GENEL KAZANÇ İSTATİSTİKLERİ</div>
<thead>
<tr class="deneme">
<th style="text-align: center" rowspan="2" colspan="2">
COIN
</th>
<th style="text-align: center" rowspan="2" colspan="2">
AĞ GÜCÜ
</th>
<th style="text-align: center" rowspan="2" colspan="2">
BLOK ÖDÜLÜ
</th>
<th style="text-align: center" rowspan="2" colspan="2">
PARA ÇEKİMİ
</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="currency in currencies | orderBy:orderByField:reverseSort">
<td fatihcelik="COIN" colspan="2">{{currency.name}}</td>
<td fatihcelik="AĞ GÜCÜ" colspan="2">{{chooseBestHashRateUnit(currency.networkPower, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(currency.networkPower, 'GH/s').unit}}</td>
<td fatihcelik="BLOK ÖDÜLÜ" colspan="2">{{currency.blockTime}} sn {{currency.blockSize}} {{currency.name}}</td>
<td fatihcelik="PARA ÇEKİMİ" colspan="1">{{formatDays(currency.user_days_to_widthdraw)}}</td>
</tr>
</tbody>
</table>
</div>
<!--===============================================================================================-->
<div ng-if="!formData.currency && getCurrenciesSum('user_alocated_power')> 0">
<table>
<div class="card-header">EN İYİ KAZANÇ İSTATİSTİKLERİ

<button class="blob-btn" ng-click="resetAlocatedPower()">
<span><i class="fa fa-trash"></i></span>
</button>
</div>
<thead>
<tr class="deneme">
<th style="text-align: center" colspan="3">
GÜNLÜK
</th>
<th style="text-align: center" colspan="3">
HAFTALIK
</th>
<th style="text-align: center" colspan="3">
AYLIK
</th>
</tr>
<tr class="deneme">
<th style="text-align: center" colspan="1">
<a>
COIN
<span ng-show="orderByFarmField == 'user_alocated_power_day_profit_in_cripto'">
</span>
</a>
</th>
<th style="text-align: center" colspan="1">
<a>
$
<span ng-show="orderByFarmField == 'user_alocated_power_day_profit_in_usd'">
</span>
</a>
</th>
<th style="text-align: center" colspan="1">
<a>
₺
<span ng-show="orderByFarmField == 'user_alocated_power_day_profit_in_try'">
</span>
</a>
</th>
<th style="text-align: center" colspan="1">
<a>
COIN
<span ng-show="orderByFarmField == 'user_alocated_power_week_profit_in_cripto'">
</span>
</a>
</th>
<th style="text-align: center" colspan="1">
<a>
$
<span ng-show="orderByFarmField == 'user_alocated_power_week_profit_in_usd'">
</span>
</a>
</th>
<th style="text-align: center" colspan="1">
<a>
₺
<span ng-show="orderByFarmField == 'user_alocated_power_week_profit_in_try'">
</span>
</a>
</th>
<th style="text-align: center" colspan="1">
<a>
COIN
<span ng-show="orderByFarmField == 'user_alocated_power_month_profit_in_cripto'">
</span>
</a>
</th>
<th style="text-align: center" colspan="1">
<a>
$
<span ng-show="orderByFarmField == 'user_alocated_power_month_profit_in_usd'">
</span>
</a>
</th>
<th style="text-align: center" colspan="1">
<a>
₺
<span ng-show="orderByFarmField == 'user_alocated_power_month_profit_in_try'">
</span>
</a>
</th>
</tr>
</thead>
<tbody class="allocated-farm">
<tr ng-repeat="currency in filteredCurrencies = (currencies | filter:filterFn | orderBy:orderByFarmField:reverseSort)" id="bestCoinTable">
<td fatihcelik="GÜNLÜK" colspan="1">{{currency.user_alocated_power_day_profit_in_cripto}} {{currency.name}}</td>
<td fatihcelik="$" colspan="1">${{currency.user_alocated_power_day_profit_in_usd}}</td>
<td fatihcelik="₺" colspan="1">{{currency.user_alocated_power_day_profit_in_try}}₺</td>
<td fatihcelik="HAFTALIK" colspan="1">{{currency.user_alocated_power_week_profit_in_cripto}} {{currency.name}}</td>
<td fatihcelik="$" colspan="1">${{currency.user_alocated_power_week_profit_in_usd}}</td>
<td fatihcelik="₺" colspan="1">{{currency.user_alocated_power_week_profit_in_try}}₺</td>
<td fatihcelik="AYLIK" colspan="1">{{currency.user_alocated_power_month_profit_in_cripto}} {{currency.name}}</td>
<td fatihcelik="$" colspan="1">${{currency.user_alocated_power_month_profit_in_usd}}</td>
<td fatihcelik="₺" colspan="1">{{currency.user_alocated_power_month_profit_in_try}}₺</td>
</tr>
</tbody>
</table>
</div>
<!--===============================================================================================-->
<div ng-if="customMiners.length > 0">
<table>
<thead>
<tr>
<th class=" card-header" colspan="5" style="text-align: center">
EKRAN KARTLARI
</th>
</tr>
<tr class="deneme">
<th style="text-align: center">
MINER ADI
</th>
<th style="text-align: center">
SEVİYE
</th>
<th style="text-align: center">
GÜCÜ
</th>
<th style="text-align: center">
BONUS
</th>
<th style="text-align: center">
ETKİLEŞİM
</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="miner in customMiners track by $index">
<td fatihcelik="MINER ADI">
{{miner.name.en}}
</td>
<td fatihcelik="RESİM" style="position: relative;">
<img ng-if="miner.level == 0" src='https://rollercoin.com/static/img/storage/rarity_icons/level_1.png?v=1.0.0' style='position: absolute;'/>
<img ng-if="miner.type === 'old_merge'" src='https://rollercoin.com/static/images/level_star.4ff18517e5e8eed42060..png' style='left: 40px;position: absolute;top: 25px;'/>
<img ng-if="miner.level > 0 && miner.type !== 'old_merge'" src='https://rollercoin.com/static/img/storage/rarity_icons/level_{{miner.level+1}}.png?v=1.0.0' style='left: 40px;position: absolute;top: 25px;'/>
<img src='https://static.rollercoin.com/static/img/market/miners/{{miner.filename}}.gif?v=1707996476608' width="80px" height="auto"/>
<div ng-if="!miner.is_can_be_sold_on_mp"
style="
background-color: red;
font-size: 13px;
font-weight: bold;
color: white;
">SATILAMAZ</div>
</td>
<td fatihcelik="GÜÇ">
{{chooseBestHashRateUnit(miner.power, 'GH/s').value.toFixed(2)}}{{chooseBestHashRateUnit(miner.power, 'GH/s').unit}}
</td>
<td fatihcelik="BONUS">
{{(miner.bonus_power / 100)}}%
</td>
<td fatihcelik="ETKİLEŞİM">
<button class="button" ng-click="removeMinerFromSimulation(miner)">Kaldır!</button><br/>
<button class="button" ng-click="openBuyLink(miner)">Mağazaya Git</button>
</td>
</tr>
</tbody>
</table>
</div>

<div class="rc-pro-marketplace" ng-if="formData.showAllMiners">

  <!-- LIVE TRADE TICKER -->
  <div class="rc-ticker">
    <div class="rc-ticker-track">
      🔥 Legendary Miner sold for 12.45 RLT • 
      ⚡ Epic Miner sold for 5.22 RLT • 
      💎 Unreal Miner sold for 18.91 RLT •
    </div>
  </div>

  <!-- TOP TOOLBAR -->
  <div class="rc-toolbar">
    <input type="text"
           placeholder="Search miners..."
           ng-model="allMinerNameSearch"
           class="rc-search">

    <select ng-model="orderByAllMinersField" class="rc-select">
      <option value="power">Sort by Power</option>
      <option value="bonus_power">Sort by Bonus</option>
      <option value="price">Sort by Price</option>
    </select>

    <select ng-model="itemsPerPage" class="rc-select">
      <option value="12">12</option>
      <option value="24">24</option>
      <option value="48">48</option>
    </select>
  </div>

  <div class="rc-main">

    <!-- COLLAPSIBLE FILTERS -->
    <div class="rc-filters">

      <div class="rc-filter-header"
           onclick="this.parentElement.classList.toggle('collapsed')">
        Filters ⚙
      </div>

      <div class="rc-filter-body">

        <div class="rc-filter-section">
          <div class="rc-label">Price Range (RLT)</div>
          <div class="rc-slider-placeholder"></div>
        </div>

        <div class="rc-filter-section">
          <div class="rc-label">Power Range</div>
          <div class="rc-slider-placeholder"></div>
        </div>

        <div class="rc-filter-section">
          <div class="rc-label">Bonus Range (%)</div>
          <div class="rc-slider-placeholder"></div>
        </div>

      </div>
    </div>

    <!-- MARKET GRID -->
    <div class="rc-grid">

      <div class="rc-card"
           ng-repeat="miner in allMiners | filter:allMinerNameSearch | limitTo:itemsPerPage">

        <!-- RARITY BAR -->
        <div class="rc-rarity {{miner.rarity}}"></div>

        <!-- BADGES -->
        <div class="rc-badge best" ng-if="miner.power > 500000000">
          BEST DEAL
        </div>

        <div class="rc-badge own" ng-if="miner.already_have">
          IN COLLECTION
        </div>

        <!-- IMAGE -->
        <img class="rc-image"
             src="https://static.rollercoin.com/static/img/market/miners/{{miner.filename}}.gif">

        <!-- INFO -->
        <div class="rc-name">{{miner.name.en}}</div>

        <div class="rc-power">
          {{chooseBestHashRateUnit(miner.power,'GH/s').value.toFixed(2)}}
          {{chooseBestHashRateUnit(miner.power,'GH/s').unit}}
        </div>

        <div class="rc-bonus">
          +{{miner.bonus_power / 100}}%
        </div>

        <!-- POWER BAR -->
        <div class="rc-powerbar">
          <div class="rc-powerfill"
               style="width: {{ (miner.power / 1000000000) * 100 }}%">
          </div>
        </div>

        <!-- PRICE -->
        <div class="rc-price">
          From {{ (miner.power / 750000 + 0.25) | number:2 }} RLT
        </div>

        <div class="rc-sellers">
          {{ (miner.power % 21) + 1 }} sellers
        </div>

        <button class="rc-buy"
                ng-click="addMinerToSimulation(miner)">
          BUY NOW
        </button>

      </div>

    </div>

  </div>
</div>

<!--===============================================================================================-->
<div ng-if="formData.showMiners">

<article>
<div class="card-fc">
<h6 class="card-header">MADENCİLERİM</h6>
<div class="card-body">
<!--===============================================================================================-->
<div class="row">
<span class="label">Miner Adı:</span>
<div class="input-container">
<input type="text" class="- - -" ng-change="filterAllMiners(allMinerNameSearch, allMinersRarity, {min:allMinerMinBonusSearch, max:allMinerMaxBonusSearch}, allMinerNegotiableStatus, allMinerPosessionStatus, allMinerCollectionId, allMinerMinPowerSearch, allMinerMaxPowerSearch, allMinerCells, allMinerMinImpact)" ng-model="allMinerNameSearch" placeholder="Örn: YMCA">
<select class="- - -" ng-model="allMinersRarity" ng-change="filterAllMiners(allMinerNameSearch, allMinersRarity, {min:allMinerMinBonusSearch, max:allMinerMaxBonusSearch}, allMinerNegotiableStatus, allMinerPosessionStatus, allMinerCollectionId, allMinerMinPowerSearch, allMinerMaxPowerSearch, allMinerCells, allMinerMinImpact)">
<option value="all">Hepsi</option>
<option value="common">Common</option>
<option value="legacy">Legacy</option>
<option value="uncommon">Uncommon</option>
<option value="rare">Rare</option>
<option value="epic">Epic</option>
<option value="legendary">Legendary</option>
<option value="unreal">Unreal</option>
</select>
</div>
</div>
<!--===============================================================================================-->
</div>
</div>
</article>
 
<div ng-if="formData.showMiners">

<div class="card-fc my-2 özelfont">
<h6 class="card-header">MADENCİ SAYISI: {{visible_user_miners.length}}</h6>
</div>

<table>
<thead class="madencilerim">
<tr>
<th fatihcelik="PROFİL" style="text-align: center">
<a href="#" ng-click="orderByuserMinersField='filename'; reverseuserMinersSort = !reverseuserMinersSort ; $event.preventDefault();">
MINER
<span ng-show="orderByuserMinersField == 'filename'">
<span ng-show="!reverseMinersSort">
<i class="fa fa-fw fa-sort-asc"></i>
</span>
<span ng-show="reverseMinersSort">
<i class="fa fa-fw fa-sort-desc"></i>
</span>
</span>
</a>
</th>
<th style="text-align: center">
<a href="#" ng-click="orderByuserMinersField='power'; reverseuserMinersSort = !reverseuserMinersSort ; $event.preventDefault();">
GÜÇ
<span ng-show="orderByuserMinersField == 'power'">
<span ng-show="!reverseMinersSort">
<i class="fa fa-fw fa-sort-asc"></i>
</span>
<span ng-show="reverseMinersSort">
<i class="fa fa-fw fa-sort-desc"></i>
</span>
</span>
</a>
</th>
<th style="text-align: center">
<a href="#" ng-click="orderByuserMinersField='bonus_power'; reverseuserMinersSort = !reverseuserMinersSort ; $event.preventDefault();">
BONUS
<span ng-show="orderByuserMinersField == 'bonus_power'">
<span ng-show="!reverseMinersSort">
<i class="fa fa-fw fa-sort-asc"></i>
</span>
<span ng-show="reverseMinersSort">
<i class="fa fa-fw fa-sort-desc"></i>
</span>
</span>
</a>
</th>
<th style="text-align: center">
<a href="#" ng-click="orderByuserMinersField='removeImpactPower'; reverseuserMinersSort = !reverseuserMinersSort ; $event.preventDefault();">
ETKİ GÜCÜ
<span ng-show="orderByuserMinersField == 'removeImpactPower'">
<span ng-show="!reverseMinersSort">
<i class="fa fa-fw fa-sort-asc"></i>
</span>
<span ng-show="reverseMinersSort">
<i class="fa fa-fw fa-sort-desc"></i>
</span>
</span>
</a>
</th>
<th style="text-align: center">
ETKİLEŞİM
</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="miner in visible_user_miners | orderBy:orderByuserMinersField:reverseuserMinersSort | limitTo:userMinersItemsPerPage : (userMinersCurrentPage - 1) * userMinersItemsPerPage"
ng-class="{ 'removed-have-miner': miner.removed }">
<td fatihcelik="MADENCİ" style="text-align: center; position: relative;">
{{miner.name.en}}<br/>
<img ng-if="miner.level == 0" src='https://rollercoin.com/static/img/storage/rarity_icons/level_1.png?v=1.0.0' />
<img ng-if="miner.type === 'old_merge'" src='https://rollercoin.com/static/images/level_star.4ff18517e5e8eed42060..png'/>
<img ng-if="miner.level > 0 && miner.type !== 'old_merge'" src='https://rollercoin.com/static/img/storage/rarity_icons/level_{{miner.level+1}}.png?v=1.0.0'/>
<img src='https://static.rollercoin.com/static/img/market/miners/{{miner.filename}}.gif?v=1707996476608' width="80px" height="auto"/>
<div ng-if="!miner.is_can_be_sold_on_mp"
style="
background-color: red;
font-size: 13px;
color: white;
">SATILAMAZ</div>
</td>
<td fatihcelik="GÜÇ" style="text-align: center">
{{chooseBestHashRateUnit(miner.power, 'GH/s').value.toFixed(2)}}{{chooseBestHashRateUnit(miner.power, 'GH/s').unit}}
</td>
<td fatihcelik="BONUS" style="text-align: center">
{{(miner.bonus_power / 100)}}%
</td>
<td fatihcelik="ETKİ GÜCÜ">
{{miner.removeImpactLegend.value.toFixed(2)}} {{miner.removeImpactLegend.unit}}
</td>
<td fatihcelik="ETKİLEŞİM" style="text-align: center">
<button ng-click="openBuyLink(miner)">Mağazaya Git!</button>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center">
<ul uib-pagination first-text="İlk Sayfa" previous-text="Önceki" last-text="Son Sayfa" next-text="Sonraki Sayfa" total-items="visible_user_miners.length" ng-model="userMinersCurrentPage" max-size="5" class="pagination-sm" items-per-page="userMinersItemsPerPage" boundary-links="true" num-pages="numPages2"></ul>
</p>
</div>

<h6 class="card-header head text-center"></h6>
</div>
<!--===============================================================================================-->
</div>
<!--===============================================================================================-->
<center>

</center>
<!--===============================================================================================-->
</div>
</aside>
</div>
<!--===============================================================================================-->
<div class="col-md-1">

</div>
<!--===============================================================================================-->
</div>
</section>
<!--===============================================================================================-->
<script src="js/gün-tarih-saat.js"></script>
<script src="js/solmenu.js"></script>
<script src="js/button.js"></script>
<!--===============================================================================================-->
<script src="https://kit.fontawesome.com/33f434b192.js" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<!--===============================================================================================-->
</div>
<!--===============================================================================================-->
<footer class="footer">
<div class="container">
<div class="bottom">
<p class="small">RCHesapla © <span id="y"></span></p>
<div class="legal" aria-label="Yasal bağlantılar">
<a href="#">YouTube</a>
<a href="#">Telegram</a>
<a href="#">Redkit :)</a>
</div>
</div>
</div>
</footer>

<script>
// Yılı otomatik yaz
document.getElementById('y').textContent = new Date().getFullYear();
</script>
</body>
</html>