<!DOCTYPE html>
<html lang="en" ng-app="miningApp">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<!--===============================================================================================-->
<title>RCHesapla • Kişisel Kazım Gücünü Hesapla!</title>
<meta name="description" content="Rollercoin kişisel kazım gücünü hesapla!">
<meta name="author" content="Fatih ÇELİK">
<!--===============================================================================================-->
<link rel="stylesheet" href="./css/style_v2.css">
<link rel="stylesheet" href="./css/tablo.css">
<link rel="stylesheet" href="./css/fonts.css">
<!--===============================================================================================-->
<link rel="stylesheet" href="./css/input.css">
<link rel="stylesheet" href="./css/button.css">
<link rel="stylesheet" href="./css/solmenu.css">
<!--===============================================================================================-->
<link rel="stylesheet" href="./css/benihatirla.css">
<!--===============================================================================================-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!--===============================================================================================-->
<link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
<meta name="google-site-verification" content="zLhTa_Vn0bP5jm3ZYoCir1VtRUw2xHvHclGPHv3d4-o" />
<!--===============================================================================================-->
<meta name="keywords" content="rchesapla, turkcraft01, pb01adana, rollercoin, rollercoin hesapla, rollercoin calculator, rollercoin güç hesaplama, bitcoin hesapla, doge hesapla, eth hesapla, xrp hesapla">
<!--===============================================================================================-->
<meta property="og:title" content="☪ RCHesapla ☪ • Kişisel Kazım Gücünü Hesapla!">
<meta property="og:description" content="Anlık, günlük, haftalık, aylık aynı zamanda yıllık olarak hesaplama yapabilirsin. ||Tek resmi web sitemiz budur!||">
<meta property="og:image" content="https://media.discordapp.net/attachments/798825351555317760/960999892480823356/standard.gif?ex=67aa61e4&is=67a91064&hm=20ad890e21ab9025a1b5ba26e6f1ceb697d13f3138af57063e80602f8835f8ce">
<meta property="og:url" content="https://rchesapla.github.io/">
<!--===============================================================================================-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">
<!--===============================================================================================-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/spark-md5/3.0.0/spark-md5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
<!--===============================================================================================-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5"></script>
<!--===============================================================================================-->
<script src="https://wminerrc.github.io/calculator/data/basic_miners.js"></script>
<script src="https://wminerrc.github.io/calculator/data/merge_miners.js"></script>
<script src="https://wminerrc.github.io/calculator/data/old/merge_miners.js"></script>
<script src="https://wminerrc.github.io/calculator/data/components.js"></script>
<!--===============================================================================================-->
<script src="sayfa/yedek/js/app.js"></script>
<script src="sayfa/yedek/js/firebase-db-service.js"></script>
<!--===============================================================================================-->
<script src="sayfa/yedek/js/services.js"></script>
<script src="sayfa/yedek/js/user-miner-service.js"></script>
<script src="sayfa/yedek/js/miner-service.js"></script>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css'>
<!--===============================================================================================-->
</head>
<!--===============================================================================================-->
<body ng-controller="MiningController">
    <!--<div class="overlay" id="overlay">
        <div class="modal">
          <h2>Olá querido amigo!</h2>
          <p>Essa ferramenta é feita com todo carinho e cuidado para você<br/>
            se ela te ajuda ou ajudou, não hesite em contribuir com a carteia no rodapé da página</p>
          <button id="closeButton" ng-click="closeModal()">Fechar</button>
        </div>
    </div>
    <audio id="confettiSound">
        <source src="confetti-sound.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>-->
    <div class="loading-overlay" ng-show="isLoading">
        <p>Yükleniyor...</p>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-4 card-body2">
                <form name="miningForm">
                    <div class="form-group">
                        <label for="currency" class="labelbaşlık">Lig seç:</label>
                        <select id="currency" class="form-control" ng-disabled="isLoadedUser" ng-model="formData.league" ng-options="league.name for league in leagues" ng-change="updateLeagueDetails()">
                            <option value="">Lig seçin</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="currency">Kripto seç:</label>
                        <select id="currency" class="form-control" ng-model="formData.currency" ng-options="currency.name for currency in currencies" ng-change="updateCurrencyDetails()">
                            <option value="">Genel hesaplama</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="networkPower">Ağ gücü:</label>
                        <div class="form-inline">
                            <input type="number" id="networkPower" class="form-control" ng-model="formData.networkPower" disabled>
                            <select id="networkUnit" class="form-control" ng-model="formData.networkUnit" disabled ng-change="updateNetworkPowerUnit('{{formData.networkUnit}}')">
                                <option ng-repeat="unit in networkUnits">{{unit}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="power">Kazım gücü:</label>
                        <div class="form-inline">
                            <input type="text" id="power" ng-disabled="isLoadedUser" class="form-control" ng-model="formData.power">
                            <select id="unit" class="form-control" ng-disabled="isLoadedUser" ng-model="formData.unit" ng-options="unit for unit in units" ng-change="updatePowerUnit('{{formData.unit}}')"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="blockSize">Blok ödülü:</label>
                        <div class="form-inline">
                            <input type="text" id="blockSize" class="form-control" ng-model="formData.blockSize" disabled>
                            <input type="text" id="blockSizeCurrency" class="form-control" value="{{formData.currency.name}}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="blockTime">Blok süresi:</label>
                        <div class="form-inline">
                            <input type="number" id="blockTime" class="form-control" ng-model="formData.blockTime" disabled>
                            <select id="timeUnit" class="form-control" ng-model="formData.timeUnit" disabled ng-change="updateTimeUnit('{{formData.timeUnit}}')">
                                <option value="seconds">Saniye</option>
                                <option value="minutes">Dakika</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-inline">
                            <button class="best-coin animated-button" ng-disabled="!formData.power || formData.currency" ng-click="calculateAllCoins()"><i class="fa-solid fa-coins"></i> En iyi kazanç</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-inline">
                            <button class="best-coin animated-button" ng-disabled="!isLoadedUser" ng-click="bestBuys()"><i class="fas fa-shopping-cart"></i> Mağaza</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="blockTime">Carregar jogador</label>
                        <div class="form-inline">
                            <input type="text" 
                                class="form-control" 
                                ng-model="userSearchText" 
                                placeholder="Procurar por código..." 
                                typeahead-wait-ms="1500"
                                uib-typeahead="player as player.code for player in getPlayerByName($viewValue)"
                                typeahead-no-results="playerSearchNoResults"
                                typeahead-on-select="onSelectPlayer($item, $model, $label, $event)"
                                typeahead-loading="loading">
                            <div ng-show="playerSearchNoResults">
                                <i class="glyphicon glyphicon-remove"></i> Jogador não encontrado! Lembre-se que deve ser digitado o código que vem após o /p/ no link do rollercoin
                            </div>
                            <button ng-if="isLoadedUser" ng-click="reloadWithoutUser()"><i class="fa fa-trash"></i></button>
                        </div>
                    </div>
                    <div ng-if="isLoadedUser" class="form-group">
                        <input type="checkbox" ng-model="keepUser" ng-change="updateKeepUser(keepUser)" name="keep_user"/>
                        <label for="keep_user">Beni hatırla!</label>
                    </div>
                </form>
            </div>
            
            <div ng-if="user_data" class="col-md-8 card-body2">
                <h3 style="text-align: center">{{user_data.name}} | İstatistikleri</h3>
                <table class="- - -">
                    <thead class="deneme">
                        <tr>
                            <th style="text-align: center">
                                OYUN GÜCÜ
                            </th>
                            <th style="text-align: center">
                                MINER GÜCÜ
                            </th>
                            <th style="text-align: center">
                                RAF GÜCÜ
                            </th>
                            <th style="text-align: center">
                                GEÇİCİ GÜCÜ
                            </th>
                            <th style="text-align: center">
                                TOPLAM GÜCÜ
                            </th>
                            <th style="text-align: center">
                                BONUS ORANI
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: center" fatihcelik="OYUN GÜCÜ">
                                {{chooseBestHashRateUnit(user_data.powerData.games, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.powerData.games, 'GH/s').unit}}
                            </td>
                            <td fatihcelik="MINER GÜCÜ" ng-if="user_data.newPowerData && user_data.newPowerData.new_power > 0" style="text-align: center">
                                <s>{{chooseBestHashRateUnit(user_data.powerData.miners, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.powerData.miners, 'GH/s').unit}}</s></br>
                                {{chooseBestHashRateUnit(user_data.newPowerData.miners, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.newPowerData.miners, 'GH/s').unit}}<br>
                                <i class="fa-solid fa-arrow-up"></i> {{chooseBestHashRateUnit(user_data.newPowerData.new_power, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.newPowerData.new_power, 'GH/s').unit}}<br>
                            </td>
                            <td fatihcelik="MINER GÜCÜ" ng-if="user_data.newPowerData && user_data.newPowerData.new_power < 0" style="text-align: center">
                                <s>{{chooseBestHashRateUnit(user_data.powerData.miners, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.powerData.miners, 'GH/s').unit}}</s></br>
                                {{chooseBestHashRateUnit(user_data.newPowerData.miners, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.newPowerData.miners, 'GH/s').unit}}<br>
                                <i class="fa-solid fa-arrow-down"></i> {{chooseBestHashRateUnit(user_data.newPowerData.new_power, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.newPowerData.new_power, 'GH/s').unit}}<br>
                            </td>
                            <td fatihcelik="MINER GÜCÜ" ng-if="!user_data.newPowerData || !user_data.newPowerData.new_power" style="text-align: center">
                                {{chooseBestHashRateUnit(user_data.powerData.miners, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.powerData.miners, 'GH/s').unit}}
                            </td>
                            <td fatihcelik="RAF GÜCÜ" style="text-align: center">
                                {{chooseBestHashRateUnit(user_data.powerData.racks, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.powerData.racks, 'GH/s').unit}}
                            </td>
                            <td fatihcelik="GEÇİCİ GÜCÜ" style="text-align: center">
                                {{chooseBestHashRateUnit(user_data.powerData.temp, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.powerData.temp, 'GH/s').unit}}
                            </td>
                            <td fatihcelik="TOPLAM GÜCÜ" ng-if="!user_data.newPowerData || !user_data.newPowerData.new_total" style="text-align: center">
                                {{chooseBestHashRateUnit(user_data.powerData.total, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.powerData.total, 'GH/s').unit}}
                            </td>
                            <td fatihcelik="TOPLAM GÜCÜ" ng-if="user_data.newPowerData && user_data.newPowerData.new_total > 0" style="text-align: center">
                                <s>{{chooseBestHashRateUnit(user_data.powerData.total, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.powerData.total, 'GH/s').unit}}</s></br>
                                {{chooseBestHashRateUnit(user_data.newPowerData.total, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.newPowerData.total, 'GH/s').unit}}<br>
                                <i class="fa-solid fa-arrow-up"></i> {{chooseBestHashRateUnit(user_data.newPowerData.new_total, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.newPowerData.new_total, 'GH/s').unit}} ({{(user_data.newPowerData.new_total_percent.toFixed(2))}}%)
                            </td>
                            <td fatihcelik="TOPLAM GÜCÜ" ng-if="user_data.newPowerData && user_data.newPowerData.new_total < 0" style="text-align: center">
                                <s>{{chooseBestHashRateUnit(user_data.powerData.total, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.powerData.total, 'GH/s').unit}}</s></br>
                                {{chooseBestHashRateUnit(user_data.newPowerData.total, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.newPowerData.total, 'GH/s').unit}}<br>
                                <i class="fa-solid fa-arrow-down"></i> {{chooseBestHashRateUnit(user_data.newPowerData.new_total, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(user_data.newPowerData.new_total, 'GH/s').unit}} ({{(user_data.newPowerData.new_total_percent.toFixed(2))}}%)
                            </td>
                            <td fatihcelik="BONUS GÜCÜ" ng-if="user_data.newPowerData && user_data.newPowerData.new_bonus_percent > 0" style="text-align: center">
                                <s>{{(user_data.powerData.bonus_percent / 100)}}%</s></br>
                                {{(user_data.newPowerData.bonus_percent / 100)}}%<br>
                                <i class="fa-solid fa-arrow-up"></i> {{(user_data.newPowerData.new_bonus_percent / 100)}}%
                            </td>
                            <td fatihcelik="BONUS GÜCÜ" ng-if="!user_data.newPowerData || !user_data.newPowerData.new_bonus_percent" style="text-align: center">
                                {{(user_data.powerData.bonus_percent / 100)}}%
                            </td>
                            <td fatihcelik="BONUS GÜCÜ" ng-if="user_data.newPowerData && user_data.newPowerData.new_bonus_percent < 0" style="text-align: center">
                                <s>{{(user_data.powerData.bonus_percent / 100)}}%</s></br>
                                {{(user_data.newPowerData.bonus_percent / 100)}}%<br>
                                <i class="fa-solid fa-arrow-down"></i> {{(user_data.newPowerData.new_bonus_percent / 100)}}%
                            </td>
                        </tr>
                    </tbody>
                </table>
            <div class="- - -">
                <h3 style="text-align: center">Sonuçlar</h3>
                <table ng-if="formData.currency" class="- - -">
                    <thead>
                        <tr>
                            <th style="text-align: center" colspan="4">
                                Cálculo de mineração em {{formData.currency.name}}
                                <img style="width: 30px;height: 30px;margin: 5px;" ng-if="formData.currency" ng-src="{{formData.currency.image}}" alt="{{formData.currency.name}} logo" class="currency-icon">
                            </th>
                        </tr>
                        <tr ng-hide="formData.currency.in_game_only">
                            <th style="text-align: center" colspan="2">
                                1 {{formData.currency.name}} = ${{exchangeRates[formData.currency.name]['usd']}}
                            </th>
                            <th style="text-align: center" colspan="2">
                                1 {{formData.currency.name}} = R${{exchangeRates[formData.currency.name]['brl']}}
                            </th>
                        </tr>
                        <tr>
                            <th style="text-align:center;">Tempo</th>
                            <th style="text-align:center;">Moeda</th>
                            <th style="text-align:center;" ng-hide="formData.currency.in_game_only">Dólar</th>
                            <th style="text-align:center;" ng-hide="formData.currency.in_game_only">Real</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ganho por Bloco</td>
                            <td>{{calculateEarnings('block', 'amount')}} {{formData.currency.name}}</td>
                            <td ng-hide="formData.currency.in_game_only">${{calculateEarnings('block', 'usd')}}</td>
                            <td ng-hide="formData.currency.in_game_only">R${{calculateEarnings('block', 'brl')}}</td>
                        </tr>
                        <tr>
                            <td>Ganho Diário</td>
                            <td>{{calculateEarnings('day', 'amount')}} {{formData.currency.name}}</td>
                            <td ng-hide="formData.currency.in_game_only">${{calculateEarnings('day', 'usd')}}</td>
                            <td ng-hide="formData.currency.in_game_only">R${{calculateEarnings('day', 'brl')}}</td>
                        </tr>
                        <tr>
                            <td>Ganho Semanal</td>
                            <td>{{calculateEarnings('week', 'amount')}} {{formData.currency.name}}</td>
                            <td ng-hide="formData.currency.in_game_only">${{calculateEarnings('week', 'usd')}}</td>
                            <td ng-hide="formData.currency.in_game_only">R${{calculateEarnings('week', 'brl')}}</td>
                        </tr>
                        <tr>
                            <td>Ganho Mensal</td>
                            <td>{{calculateEarnings('month', 'amount')}} {{formData.currency.name}}</td>
                            <td ng-hide="formData.currency.in_game_only">${{calculateEarnings('month', 'usd')}}</td>
                            <td ng-hide="formData.currency.in_game_only">R${{calculateEarnings('month', 'brl')}}</td>
                        </tr>
                    </tbody>
                </table>
                <form name="myForm">
                <table ng-if="!formData.currency" class="- - -">
                    <thead>
                        <tr>
                            <th style="text-align: center" colspan="19">
                                Informações gerais
                            </th>
                        </tr>
                        <tr>
                            <th style="text-align: center" rowspan="2" colspan="2">
                                Moeda
                            </th>
                            <th style="text-align: center" rowspan="2" colspan="2">
                                <a href="#" ng-click="orderByField='networkPower'; reverseSort = !reverseSort">
                                    Poder da rede 
                                    <span ng-show="orderByField == 'networkPower'">
                                        <span ng-show="!reverseSort">
                                            <i class="fa fa-fw fa-sort-asc"></i>
                                        </span>
                                        <span ng-show="reverseSort">
                                            <i class="fa fa-fw fa-sort-desc"></i>
                                        </span>
                                    </span>
                                </a>
                            </th>
                            <th style="text-align: center" rowspan="2" colspan="2">
                                Tamanho do bloco
                            </th>
                            <th style="text-align: center" colspan="4">
                                Valor por bloco
                            </th>
                            <th style="text-align: center" colspan="9">
                                Meu Farm por bloco 
                                <span title="Preencha seu poder para calcular o Farm">
                                    <i style="color:rgb(83, 83, 243)" class="fa fa-info-circle"></i>
                                </span>
                            </th>
                        </tr>
                        <tr>
                            <th style="text-align: center" colspan="2">
                                <a href="#" ng-click="orderByField='block_value_in_usd'; reverseSort = !reverseSort">
                                    USD 
                                    <span ng-show="orderByField == 'block_value_in_usd'">
                                        <span ng-show="!reverseSort">
                                            <i class="fa fa-fw fa-sort-asc"></i>
                                        </span>
                                        <span ng-show="reverseSort">
                                            <i class="fa fa-fw fa-sort-desc"></i>
                                        </span>
                                    </span>
                                </a>
                            </th>
                            <th style="text-align: center" colspan="2">
                                <a href="#" ng-click="orderByField='block_value_in_brl'; reverseSort = !reverseSort">
                                    BRL 
                                    <span ng-show="orderByField == 'block_value_in_brl'">
                                        <span ng-show="!reverseSort">
                                            <i class="fa fa-fw fa-sort-asc"></i>
                                        </span>
                                        <span ng-show="reverseSort">
                                            <i class="fa fa-fw fa-sort-desc"></i>
                                        </span>
                                    </span>
                                </a>
                            </th>
                            <th style="text-align: center" colspan="2">
                                <a href="#" ng-click="orderByField='user_block_farm_token'; reverseSort = !reverseSort">
                                    CRIPTO 
                                    <span ng-show="orderByField == 'user_block_farm_token'">
                                        <span ng-show="!reverseSort">
                                            <i class="fa fa-fw fa-sort-asc"></i>
                                        </span>
                                        <span ng-show="reverseSort">
                                            <i class="fa fa-fw fa-sort-desc"></i>
                                        </span>
                                    </span>
                                </a>
                            </th>
                            <th style="text-align: center" colspan="2">
                                <a href="#" ng-click="orderByField='user_block_farm_brl'; reverseSort = !reverseSort">
                                    BRL 
                                    <span ng-show="orderByField == 'user_block_farm_brl'">
                                        <span ng-show="!reverseSort">
                                            <i class="fa fa-fw fa-sort-asc"></i>
                                        </span>
                                        <span ng-show="reverseSort">
                                            <i class="fa fa-fw fa-sort-desc"></i>
                                        </span>
                                    </span>
                                </a>
                            </th>
                            <th style="text-align: center" colspan="2">
                                <a href="#" ng-click="orderByField='user_block_farm_usd'; reverseSort = !reverseSort">
                                    USD 
                                    <span ng-show="orderByField == 'user_block_farm_usd'">
                                        <span ng-show="!reverseSort">
                                            <i class="fa fa-fw fa-sort-asc"></i>
                                        </span>
                                        <span ng-show="reverseSort">
                                            <i class="fa fa-fw fa-sort-desc"></i>
                                        </span>
                                    </span>
                                </a>
                            </th>
                            <th style="text-align: center" colspan="2">
                                <a href="#" ng-click="orderByField='user_days_to_widthdraw'; reverseSort = !reverseSort">
                                    Saque mínimo 
                                    <span ng-show="orderByField == 'user_days_to_widthdraw'">
                                        <span ng-show="!reverseSort">
                                            <i class="fa fa-fw fa-sort-asc"></i>
                                        </span>
                                        <span ng-show="reverseSort">
                                            <i class="fa fa-fw fa-sort-desc"></i>
                                        </span>
                                    </span>
                                </a>
                            </th>
                            <th style="text-align: center" colspan="2">
                                %
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr ng-repeat="currency in currencies | orderBy:orderByField:reverseSort">
                                <td colspan="2">
                                    <span ng-show="$first">
                                        <i style="color:#b7b706" class="fa-solid fa-crown"></i>
                                    </span>
                                    {{currency.name}}
                                </td>
                                <td colspan="2">{{chooseBestHashRateUnit(currency.networkPower, 'GH/s').value.toFixed(2)}} {{chooseBestHashRateUnit(currency.networkPower, 'GH/s').unit}}</td>
                                <td colspan="2">{{currency.blockSize}} {{currency.name}} a cada {{currency.blockTime}} segundos</td>
                                <td colspan="2">${{currency.block_value_in_usd}}</td>
                                <td colspan="2">R${{currency.block_value_in_brl}}</td>
                                <td colspan="2">{{currency.user_block_farm_token}} {{currency.name}}</td>
                                <td colspan="2">R${{currency.user_block_farm_brl}}</td>
                                <td colspan="2">${{currency.user_block_farm_usd}}</td>
                                <td colspan="2">{{formatDays(currency.user_days_to_widthdraw)}}</td>
                                <td colspan="2"><input type="text" ng-disabled="!formData.power" name="input{{$index}}" id="power" class="form-control" ng-model="currency.user_alocated_power" ng-change="updateAllocatedPower(currency)" style="width:45px"></td>
                            </tr>
                    </tbody>
                </table>
<table ng-if="!formData.currency && getCurrenciesSum('user_alocated_power')  > 0" class="- - -">
                    <thead>
                        <tr>
                            <th style="text-align: center" colspan="22">
                                Minha mineração <span ng-class="{'wrong-value': getCurrenciesSum('user_alocated_power')  > 100}">{{getCurrenciesSum('user_alocated_power')}}</span>/100%
                            </th>
                        </tr>
                        <tr>
                            <th style="text-align: center" rowspan="2" colspan="2">
                                Moeda
                            </th>
                            <th style="text-align: center" colspan="6">
                                Farm diário
                            </th>
                            <th style="text-align: center" colspan="6">
                                Farm semanal
                            </th>
                            <th style="text-align: center" colspan="6">
                                Farm mensal
                            </th>
                        </tr>
                        <tr>
                            <th style="text-align: center" colspan="2">
                                <a href="#" ng-click="orderByFarmField='user_alocated_power_day_profit_in_usd'; reverseSort = !reverseSort; $event.preventDefault();">
                                    USD
                                    <span ng-show="orderByFarmField == 'user_alocated_power_day_profit_in_usd'">
                                        <span ng-show="!reverseSort">
                                            <i class="fa fa-fw fa-sort-asc"></i>
                                        </span>
                                        <span ng-show="reverseSort">
                                            <i class="fa fa-fw fa-sort-desc"></i>
                                        </span>
                                    </span>
                                </a>
                            </th>
                            <th style="text-align: center" colspan="2">
                                <a href="#" ng-click="orderByFarmField='user_alocated_power_day_profit_in_brl'; reverseSort = !reverseSort; $event.preventDefault();">
                                    BRL
                                    <span ng-show="orderByFarmField == 'user_alocated_power_day_profit_in_brl'">
                                        <span ng-show="!reverseSort">
                                            <i class="fa fa-fw fa-sort-asc"></i>
                                        </span>
                                        <span ng-show="reverseSort">
                                            <i class="fa fa-fw fa-sort-desc"></i>
                                        </span>
                                    </span>
                                </a>
                            </th>
                            <th style="text-align: center" colspan="2">
                                <a href="#" ng-click="orderByFarmField='user_alocated_power_day_profit_in_cripto'; reverseSort = !reverseSort; $event.preventDefault();">
                                    CRIPTO
                                    <span ng-show="orderByFarmField == 'user_alocated_power_day_profit_in_cripto'">
                                        <span ng-show="!reverseSort">
                                            <i class="fa fa-fw fa-sort-asc"></i>
                                        </span>
                                        <span ng-show="reverseSort">
                                            <i class="fa fa-fw fa-sort-desc"></i>
                                        </span>
                                    </span>
                                </a>
                            </th>
                            <th style="text-align: center" colspan="2">
                                <a href="#" ng-click="orderByFarmField='user_alocated_power_week_profit_in_usd'; reverseSort = !reverseSort; $event.preventDefault();">
                                    USD
                                    <span ng-show="orderByFarmField == 'user_alocated_power_week_profit_in_usd'">
                                        <span ng-show="!reverseSort">
                                            <i class="fa fa-fw fa-sort-asc"></i>
                                        </span>
                                        <span ng-show="reverseSort">
                                            <i class="fa fa-fw fa-sort-desc"></i>
                                        </span>
                                    </span>
                                </a>
                            </th>
                            <th style="text-align: center" colspan="2">
                                <a href="#" ng-click="orderByFarmField='user_alocated_power_week_profit_in_brl'; reverseSort = !reverseSort; $event.preventDefault();">
                                    BRL
                                    <span ng-show="orderByFarmField == 'user_alocated_power_week_profit_in_brl'">
                                        <span ng-show="!reverseSort">
                                            <i class="fa fa-fw fa-sort-asc"></i>
                                        </span>
                                        <span ng-show="reverseSort">
                                            <i class="fa fa-fw fa-sort-desc"></i>
                                        </span>
                                    </span>
                                </a>
                            </th>
                            <th style="text-align: center" colspan="2">
                                <a href="#" ng-click="orderByFarmField='user_alocated_power_week_profit_in_cripto'; reverseSort = !reverseSort; $event.preventDefault();">
                                    CRIPTO
                                    <span ng-show="orderByFarmField == 'user_alocated_power_week_profit_in_cripto'">
                                        <span ng-show="!reverseSort">
                                            <i class="fa fa-fw fa-sort-asc"></i>
                                        </span>
                                        <span ng-show="reverseSort">
                                            <i class="fa fa-fw fa-sort-desc"></i>
                                        </span>
                                    </span>
                                </a>
                            </th>
                            <th style="text-align: center" colspan="2">
                                <a href="#" ng-click="orderByFarmField='user_alocated_power_month_profit_in_usd'; reverseSort = !reverseSort; $event.preventDefault();">
                                    USD
                                    <span ng-show="orderByFarmField == 'user_alocated_power_month_profit_in_usd'">
                                        <span ng-show="!reverseSort">
                                            <i class="fa fa-fw fa-sort-asc"></i>
                                        </span>
                                        <span ng-show="reverseSort">
                                            <i class="fa fa-fw fa-sort-desc"></i>
                                        </span>
                                    </span>
                                </a>
                            </th>
                            <th style="text-align: center" colspan="2">
                                <a href="#" ng-click="orderByFarmField='user_alocated_power_month_profit_in_brl'; reverseSort = !reverseSort; $event.preventDefault();">
                                    BRL
                                    <span ng-show="orderByFarmField == 'user_alocated_power_month_profit_in_brl'">
                                        <span ng-show="!reverseSort">
                                            <i class="fa fa-fw fa-sort-asc"></i>
                                        </span>
                                        <span ng-show="reverseSort">
                                            <i class="fa fa-fw fa-sort-desc"></i>
                                        </span>
                                    </span>
                                </a>
                            </th>
                            <th style="text-align: center" colspan="2">
                                <a href="#" ng-click="orderByFarmField='user_alocated_power_month_profit_in_cripto'; reverseSort = !reverseSort; $event.preventDefault();">
                                    CRIPTO
                                    <span ng-show="orderByFarmField == 'user_alocated_power_month_profit_in_cripto'">
                                        <span ng-show="!reverseSort">
                                            <i class="fa fa-fw fa-sort-asc"></i>
                                        </span>
                                        <span ng-show="reverseSort">
                                            <i class="fa fa-fw fa-sort-desc"></i>
                                        </span>
                                    </span>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="allocated-farm">
                            <tr ng-repeat="currency in filteredCurrencies = (currencies | filter:filterFn | orderBy:orderByFarmField:reverseSort)">
                                <td colspan="2">
                                    <span ng-show="$first" id="bestCoinTable">
                                        <i style="color:#b7b706" class="fa-solid fa-crown"></i>
                                    </span>
                                    {{currency.name}}
                                </td>
                                <td colspan="2">${{currency.user_alocated_power_day_profit_in_usd}}</td>
                                <td colspan="2">R${{currency.user_alocated_power_day_profit_in_brl}}</td>
                                <td colspan="2">{{currency.user_alocated_power_day_profit_in_cripto}} {{currency.name}}</td>
                                <td colspan="2">${{currency.user_alocated_power_week_profit_in_usd}}</td>
                                <td colspan="2">R${{currency.user_alocated_power_week_profit_in_brl}}</td>
                                <td colspan="2">{{currency.user_alocated_power_week_profit_in_cripto}} {{currency.name}}</td>
                                <td colspan="2">${{currency.user_alocated_power_month_profit_in_usd}}</td>
                                <td colspan="2">R${{currency.user_alocated_power_month_profit_in_brl}}</td>
                                <td colspan="2">{{currency.user_alocated_power_month_profit_in_cripto}} {{currency.name}}</td>
                            </tr>
                    </tbody>
                </table>
                </form>
            </div>
            </div>



        </div>
    </div>
    <div style="text-align: center;">
        <button ng-click="resetValues()">↻ Resetar valores</button>
    </div>
    <br/>
    <br/>
    <br/>

    <div class="- - -">

        <table class="- - -">
            <thead>
                <tr>
                    <th colspan="3" style="text-align: center">
                        SİTEMİZDE HESAPLAMA YAPANLAR LİSTESİ
                    </th>
                </tr>
                <tr>
                    <th style="text-align: center">
                        PROFİL
                    </th>
                    <th style="text-align: center">
                        HESAPLAMA ZAMANI
                    </th>
                    <th style="text-align: center">
                        TOPLAM HESAPLAMA
                    </th>
                </tr>
            </thead>
            <tbody>
                    <tr ng-repeat="user in recentUsers">
                        <td>{{user.name}}</td>
                        <td>{{user.timeAgo}}</td>
                        <td>{{user.searchCount}}</td>
                    </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Ferramenta da comunidade para a comunidade ❤️</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div id="balao2" class="balao">
        <span class="fechar" onclick="document.getElementById('balao2').style.display = 'none';">X</span>
        <p>Yeni lig sistemi hesaplaması entegre edildi!</p></a>
    </div>
</body>
</html>