@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.baslik {
font-family: 'Righteous', cursive;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
    background: #2f3045;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: red;
}

.fcimg {
  width: 90%;
  height: auto;
display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  font-size: 14px;
  font-family: 'Righteous', cursive;
}

.hero .container {
  display: block;
  margin: 1rem;
}

.hero .container .crypto-price {
  background: #2f3045;
  border-radius: 0.3rem;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin: auto;
}

.hero .container .crypto-price .price-title {
  color: #a9d924;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: title;
  background: #1f1f2c;
  border-radius: 0.3rem 0.3rem 0 0;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0.3rem 0.5rem;
 
}

.hero .container .crypto-price .price-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .container .crypto-price .price-content ul {
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'title title title title title title title title title title title title title title title title' 'btc btc-price doge doge-price eth eth-price bnb bnb-price matic matic-price sol sol-price trx trx-price rlt rlt-price';
  -ms-grid-columns: fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%);
      grid-template-columns: fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%);
}

.hero .container .crypto-price .price-content ul li {
  list-style: none;
  color: white;
}

.hero .container .crypto-price .price-content ul .price-btc {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: btc;
  color: #fb9135;
  padding: 0.5rem 0.2rem 0.5rem 0.5rem;
}

.hero .container .crypto-price .price-content ul .price-btc-price {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: btc-price;
  padding: 0.5rem 0.35rem 0.5rem 0.2rem;

}

.hero .container .crypto-price .price-content ul .price-doge {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: doge;
  color: #c4a443;
  padding: 0.5rem 0.2rem 0.5rem 0.35rem;

}

.hero .container .crypto-price .price-content ul .price-doge-price {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: doge-price;
  padding: 0.5rem 0.35rem 0.5rem 0.2rem;

}

.hero .container .crypto-price .price-content ul .price-eth {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: eth;
  color: #9782fa;
  padding: 0.5rem 0.2rem 0.5rem 0.35rem;

}

.hero .container .crypto-price .price-content ul .price-eth-price {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
  grid-area: eth-price;
  padding: 0.5rem 0.35rem 0.5rem 0.2rem;

}

.hero .container .crypto-price .price-content ul .price-bnb {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
  grid-area: bnb;
  color: #CCFF00;
  padding: 0.5rem 0.2rem 0.5rem 0.35rem;

}

.hero .container .crypto-price .price-content ul .price-bnb-price {
  -ms-grid-row: 2;
  -ms-grid-column: 8;
  grid-area: bnb-price;
  padding: 0.5rem 0.5rem 0.5rem 0.2rem;

}

.hero .container .crypto-price .price-content ul .price-matic {
  -ms-grid-row: 2;
  -ms-grid-column: 9;
  grid-area: matic;
  color: #5530ac;
  padding: 0.5rem 0.2rem 0.5rem 0.35rem;

}

.hero .container .crypto-price .price-content ul .price-matic-price {
  -ms-grid-row: 2;
  -ms-grid-column: 10;
  grid-area: matic-price;
  padding: 0.5rem 0.5rem 0.5rem 0.2rem;

}

.hero .container .crypto-price .price-content ul .price-rlt {
  -ms-grid-row: 2;
  -ms-grid-column: 11;
  grid-area: rlt;
  color: #00e2e3;
  padding: 0.5rem 0.2rem 0.5rem 0.35rem;

}

.hero .container .crypto-price .price-content ul .price-rlt-price {
  -ms-grid-row: 2;
  -ms-grid-column: 12;
  grid-area: rlt-price;
  padding: 0.5rem 0.5rem 0.5rem 0.2rem;

}

.hero .container .crypto-price .price-content ul .price-sol {
  -ms-grid-row: 2;
  -ms-grid-column: 13;
  grid-area: sol;
  color: #4ba6cf;
  padding: 0.5rem 0.2rem 0.5rem 0.35rem;

}

.hero .container .crypto-price .price-content ul .price-sol-price {
  -ms-grid-row: 2;
  -ms-grid-column: 14;
  grid-area: sol-price;
  padding: 0.5rem 0.5rem 0.5rem 0.2rem;

}

.hero .container .crypto-price .price-content ul .price-trx {
  -ms-grid-row: 2;
  -ms-grid-column: 15;
  grid-area: trx;
  color: #d3392f;
  padding: 0.5rem 0.2rem 0.5rem 0.35rem;

}

.hero .container .crypto-price .price-content ul .price-trx-price {
  -ms-grid-row: 2;
  -ms-grid-column: 16;
  grid-area: trx-price;
  padding: 0.5rem 0.5rem 0.5rem 0.2rem;

}

.hero .container .crypto-price .price-content ul .price-lite {
  -ms-grid-row: 2;
  -ms-grid-column: 17;
  grid-area: lite;
  color: #345d9d;
  padding: 0.5rem 0.2rem 0.5rem 0.35rem;

}

.hero .container .crypto-price .price-content ul .price-lite-price {
  -ms-grid-row: 2;
  -ms-grid-column: 18;
  grid-area: lite-price;
  padding: 0.5rem 0.5rem 0.5rem 0.2rem;

}

.hero .tabs-layout {
  margin: 1rem auto;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.hero .tabs-layout .tabs-header {
  margin: 0;
  padding: 0;
  background: #1f1f2c;
  border-radius: 0.3rem;
}

.hero .tabs-layout .tabs-header .data-tab-btn {
  padding: 0.5rem 1rem;
  background: #6e6b8f;
  border: none;
  color: white;
  font-family: 'Poppins';
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 0.3em 0.3em 0 0;
}

.hero .tabs-layout .tabs-header .data-tab-btn:hover {
}

.hero .tabs-layout .tabs-header .results-tab-btn {
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  color: white;
  font-family: 'Poppins';
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 0.3em 0.3em 0 0;
}

.hero .tabs-layout .tabs-header .results-tab-btn:hover {
}

.hero .tabs-layout .tab1-content {
  background: #6e6b8f;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'rate dis' 'net blreward';
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.hero .tabs-layout .tab1-content .box {
  padding: 0.5rem;

}

.hero .tabs-layout .tab1-content .box-title {
  background: #1f1f2c;
  padding: 0.3rem 0.5rem;
  color: #a9d924;
  border-radius: 0.3rem 0.3rem 0 0;
}

.hero .tabs-layout .tab1-content .box-title2 {
  background: #1f1f2c;
  padding: 0.3rem 0.5rem;
  color: #a9d924;
}

.hero .tabs-layout .tab1-content .box-haftalıködüller {
  color: #a9d924;
  margin: center;
}

.hero .tabs-layout .tab1-content table {
  padding: 0.5rem;
  color: white;
  margin: auto;

}

.hero .tabs-layout .tab1-content table td {
  padding: 0.2rem 0.2rem;
}

.hero .tabs-layout .tab1-content table .td-btc {
  color: #fb9135;
}

.hero .tabs-layout .tab1-content table .td-doge {
  color: #c4a443;
}

.hero .tabs-layout .tab1-content table .td-eth {
  color: #9782fa;
}

.hero .tabs-layout .tab1-content table .td-bnb {
  color: #CCFF00;
}

.hero .tabs-layout .tab1-content table .td-matic {
  color: #5530ac;
}

.hero .tabs-layout .tab1-content table .td-sol {
  color: #4ba6cf;
}

.hero .tabs-layout .tab1-content table .td-trx {
  color: #d3392f;
}

.hero .tabs-layout .tab1-content table .td-lite {
  color: #345d9d;
}

.hero .tabs-layout .tab1-content table .td-rlt {
  color: #00e2e3;
}

.hero .tabs-layout .tab1-content table .td-rst {
  color: #00e2e3;
}

.hero .tabs-layout .tab1-content table .td-xrp {
  color: red;
}


.hero .tabs-layout .tab1-content .no-input {
  text-align: right;
}

.hero .tabs-layout .tab1-content .input-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: right;
  width: 100%;
  background: #6e6b8f;
  border-radius: 0.2em;
  color: white;
  border: none;
  padding: 0.2em;

}

.hero .tabs-layout .tab1-content .box-content {
  background: #2f3045;
  border-radius: 0 0 0.3rem 0.3rem;

}

.hero .tabs-layout .tab2-content {
  display: none;
  color: white;
  background: #6e6b8f;
  padding: 0.1rem 0;

}

.hero .tabs-layout .tab2-content .coin-box {
  margin: 0.5rem;
  border-radius: 0.3rem;

}

.hero .tabs-layout .tab2-content .box-title {
  padding: 0.3rem 0.5rem;
  background: #1f1f2c;
  border-bottom: none;
  font-weight: bold;
  color: #a9d924;
  border-radius: 0.3em 0.3em 0 0;
  text-align: center;
}

.hero .tabs-layout .tab2-content .btc-box {
  background: #382516;
}

.hero .tabs-layout .tab2-content .btc-box .table-headers {
  color: #00e2e3;
}

.hero .tabs-layout .tab2-content .doge-box {
  background: #38321d;
}

.hero .tabs-layout .tab2-content .doge-box .table-headers {
  color: #00e2e3;
}

.hero .tabs-layout .tab2-content .eth-box {
  background: #2d1e39;
}

.hero .tabs-layout .tab2-content .eth-box .table-headers {
  color: #00e2e3;
}

.hero .tabs-layout .tab2-content .bnb-box {
  background: #515024;
}

.hero .tabs-layout .tab2-content .bnb-box .table-headers {
  color: #00e2e3;
}

.hero .tabs-layout .tab2-content .matic-box {
  background: #5550a6;
}

.hero .tabs-layout .tab2-content .matic-box .table-headers {
  color: #00e2e3;
}

.hero .tabs-layout .tab2-content .sol-box {
  background: #412775;
}

.hero .tabs-layout .tab2-content .sol-box .table-headers {
  color: #00e2e3;
}

.hero .tabs-layout .tab2-content .trx-box {
  background: #d83f35;
}

.hero .tabs-layout .tab2-content .trx-box .table-headers {
  color: #00e2e3;
}

.hero .tabs-layout .tab2-content .lite-box {
  background: #2d5fac;
}

.hero .tabs-layout .tab2-content .lite-box .table-headers {
  color: #00e2e3;
}

.hero .tabs-layout .tab2-content .rlt-box {
  background: #173333;
}

.hero .tabs-layout .tab2-content .rlt-box .table-headers {
  color: #00e2e3;
}

.hero .tabs-layout .tab2-content .rst-box {
  background: #173333;
}

.hero .tabs-layout .tab2-content .rst-box .table-headers {
  color: #00e2e3;
}

.hero .tabs-layout .tab2-content .xrp-box {
  background: #173333;
}

.hero .tabs-layout .tab2-content .xrp-box .table-headers {
  color: #00e2e3;
}

.hero .tabs-layout .tab2-content table {
  width: 100%;
  border-collapse: collapse;
}

.tab-content {
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
 
  border: 1px solid blue;
  text-align: center;
}

.hero .tabs-layout .tab2-content table td {
  width: 33.333333%;
  text-align: center;
  font-size: 0.9em;
  padding: 0.2em 0.4em;
  vertical-align: center;
}

@media only screen and (min-width: 750px) {
  .hero .container {
    display: block;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero .container .crypto-price {
    margin: 0 1rem;
  }
  .hero .container .tabs-layout {
    background: none;
    margin: 0;
    padding: 0 1rem;
  }
  .hero .container .tabs-layout .tabs-header {
    display: none;
  }
  .hero .container .tabs-layout .tab1-content {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 0.5rem;
            column-gap: 0.5rem;
    padding: 0.7rem 0;
  }
  .hero .container .tabs-layout .tab1-content .box {
    padding: 0;
    width: 100%;
  }
  .hero .container .tabs-layout .tab2-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background: none;
    padding: 0;
    margin: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 0.5rem;
            column-gap: 0.5rem;
    row-gap: 0.5rem;
  }
  .hero .container .tabs-layout .tab2-content .coin-box {
    width: 49.4%;
    padding: 0;
    margin: 0;
  }
  .hero .container .info {
    margin: 0 1rem;
    -ms-flex-item-align: middl;
        -ms-grid-row-align: middl;
        align-self: middl;
  }
  .hero .container .info p {
    color: white;
    font-size: 0.7rem;
  }
}
/*# sourceMappingURL=home.css.map */

/* KRİPTO HESAPLAMA RENK AYARLARI*/

.tablorenk {
	color: #5530ac;
}


/* YÜKLENİYOR + YOUTUBE */
.bs_test{
  display:table-cell;
  vertical-align:middle;  
  text-align:center;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  transition:0.5s;
}

.clr{
  clear:both;  
}

/* box-shadow-transition sample 100 start */

/* basic */

.box_shadow{
  box-shadow:0 0 3px 3px rgba(0,0,0,0);
}
.box_shadow:hover{
  box-shadow:0 0 3px 3px red;
}

/* ------------------------ */

.fadeIn{
  box-shadow:0 0 0 50px rgba(255,0,0,0);
}
.fadeIn:hover{
  box-shadow:0 0 0 50px rgba(255,0,0,1);
}

/* ------------------------ */

.inside_out{
  box-shadow:0 0 0 0px rgba(255,0,0,0);
}
.inside_out:hover{
  box-shadow:0 0 0 50px rgba(255,0,0,1);
}

/* ------------------------ */

.outside_inside{
  box-shadow:0 0 0 50px rgba(255,0,0,0);
}
.outside_inside:hover{
  box-shadow:0 0 0 0px rgba(255,0,0,1);
}

/* ------------------------ */

.Float{
  box-shadow:0 0 0 0px rgba(0,0,0,0);
  top:0px;
}
.Float:hover{
  box-shadow:0 80px 50px -60px rgba(0,0,0,0.5);
  position:relative;
  top:-20px;
}

/* ------------------------ */

.Gradation{
  box-shadow:0 0 0 50px rgba(0,0,0,0);
}
.Gradation:hover{
  box-shadow:0 0 0 50px rgba(0,0,0,0.1),0 0 0 20px rgba(0,0,0,0.2),0 0 0 30px rgba(0,0,0,0.3),0 0 0 40px rgba(0,0,0,0.4),0 0 0 50px rgba(0,0,0,0.5); 
}

/* ------------------------ */

.mask{
  box-shadow:0 0 0 2000px rgba(0,0,0,0);
}
.mask:hover {
  box-shadow:0 0 0 2000px rgba(0,0,0,0.5);
}


/* ------------basic_end------------ */

/* inset sample */

.inset{
  box-shadow:0 0 0 100px rgba(0,0,0,0) inset;
  position:relative;
}
.inset:hover{
  box-shadow:0 0 0 100px rgba(0,0,0,1) inset;
  color:#fff;
}

/* ------------------------ */

.inset_outside_inside{
  box-shadow:0 0 0 0 rgba(255,0,0,0) inset;
}
.inset_outside_inside:hover{
  box-shadow:0 0 0 100px rgba(255,0,0,0.5) inset;
}

/* ------------------------ */

.inset_inside_out{
  box-shadow:0 0 0 100px rgba(255,0,0,0.5) inset;
}

.inset_inside_out:hover{
  box-shadow:0 0 0 0 rgba(255,0,0,0) inset;  
}

/* ------------------------ */

.inset_slide{
  box-shadow:0 0 0 0 rgba(255,0,0,0.5) inset;  
}

.inset_slide:hover{
  box-shadow:200px 0 0 0px rgba(255,0,0,0.5) inset;
}

/* ------------------------ */

.inset_slide_down{
  box-shadow:0 0 0 0 rgba(255,0,0,0.5) inset;
}
.inset_slide_down:hover{
  box-shadow:0 200px 0 0px rgba(255,0,0,0.5) inset;
}

/* ------------------------ */

.inset_slanting{
  box-shadow:0 0 0 0 rgba(255,0,0,0.5) inset;
}
.inset_slanting:hover{
  box-shadow:200px 200px 0 0px rgba(255,0,0,0.5) inset;  
}

/* ------------------------ */

.Two-tone_slide{
  box-shadow:0 0 0 0 rgba(255,0,0,0) inset;
}
.Two-tone_slide:hover{
  box-shadow:100px 0 0 0 rgba(255,0,0,1) inset,-100px 0 0 0 rgba(0,0,0,1) inset;
  color:#fff;
}

/* ------------------------ */

.Up_down{
  box-shadow:0 0 0 0 rgba(255,0,0,0) inset;
}
.Up_down:hover{
  box-shadow:0 100px 0 0 rgba(255,0,0,1) inset,0 -100px 0 0 rgba(0,0,0,1) inset;
  color:#fff;
}

/* ------------------------ */

.Three_tone{
  box-shadow:100px 0 0 0 rgba(0,0,0,0) inset,100px 100px 0 0 rgba(255,0,0,0) inset, -100px 100px 0 0 rgba(0,255,0,0) inset;
}
.Three_tone:hover{
  box-shadow:100px 0 0 0 rgba(0,0,0,1) inset,100px 100px 0 0 rgba(255,0,0,1) inset, -100px 100px 0 0 rgba(0,255,0,1) inset;
  color:#fff;
}

/* ------------------------ */

.Three_tone_slide{
  box-shadow:0 0 0 0 rgba(0,0,0,0) inset,0 0 0 0 rgba(255,0,0,0) inset, 0 0 0 0 rgba(0,255,0,0) inset;
}
.Three_tone_slide:hover{
  box-shadow:100px 0 0 0 rgba(0,0,0,1) inset,100px 100px 0 0 rgba(255,0,0,1) inset, -100px 100px 0 0 rgba(0,255,0,1) inset;
  color:#fff;
  text-shadow:1px 1px 3px #000;
}

/* ------------------------ */

.Three_tone_out_slide{
  box-shadow:100px 0 0 0 rgba(0,0,0,1) inset,100px 100px 0 0 rgba(255,0,0,1) inset, -100px 100px 0 0 rgba(0,255,0,1) inset,0 0 0 100px rgba(0,0,0,1) inset;
  color:#fff;
  text-shadow:1px 1px 3px #000;
}
.Three_tone_out_slide:hover{
  box-shadow:0 0 0 0 rgba(0,0,0,1) inset,0 0 0 0 rgba(255,0,0,1) inset, 0 0 0 0 rgba(0,255,0,1) inset,0 0 0 100px rgba(0,0,0,0) inset;
  color:#333;
}

/* ------------inset_end------------ */

.four_tone{
  position:relative;
}

.four_box_shadow{
  display:inline-block;
  position:absolute;
  top:50px;
  left:50px;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  transition:0.5s;
  box-shadow:0 0 0 50px rgba(0,0,0,0),100px 0 0 50px rgba(255,0,0,0),0 100px 0 50px rgba(0,255,0,0),100px 100px 0 50px rgba(0,0,255,0);
}

.four_tone:hover > .four_box_shadow {
  box-shadow:0 0 0 50px rgba(0,0,0,1),100px 0 0 50px rgba(255,0,0,1),0 100px 0 50px rgba(0,255,0,1),100px 100px 0 50px rgba(0,0,255,1);
}

.four_tone_Bubble{
  position:relative;
}

.four_box_shadow_2{
  display:inline-block;
  position:absolute;
  top:50px;
  left:50px;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  transition:0.5s;
  box-shadow:0 0 0 0px rgba(0,0,0,0),100px 0 0 0px rgba(255,0,0,0),0 100px 0 0px rgba(0,255,0,0),100px 100px 0 0px rgba(0,0,255,0);
}

.four_tone_Bubble:hover > .four_box_shadow_2 {
  box-shadow:0 0 0 50px rgba(0,0,0,1),100px 0 0 50px rgba(255,0,0,1),0 100px 0 50px rgba(0,255,0,1),100px 100px 0 50px rgba(0,0,255,1);
}

/* ------------------------ */

.four_tone_slide{
  position:relative;
  overflow:hidden;
}

.four_box{
  display:inline-block;
  position:absolute;
  top:0px;
  left:0px;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  transition:0.5s;
}

.four_box_slide_2{
  box-shadow:300px -100px 0 100px rgba(255,0,0,0);
}
.four_box_slide_3{
  box-shadow:-100px 300px 0 100px rgba(0,255,0,0);
}
.four_box_slide_4{
  box-shadow:300px 300px 0 100px rgba(0,0,255,0);
}

.four_tone_slide:hover > .four_box_slide_1 {
  box-shadow:0 0 0 100px rgba(0,0,0,1);
}
.four_tone_slide:hover > .four_box_slide_2 {
  box-shadow:200px 0 0 100px rgba(255,0,0,1);
}
.four_tone_slide:hover > .four_box_slide_3 {
  box-shadow:0 200px 0 100px rgba(0,255,0,1);
}
.four_tone_slide:hover > .four_box_slide_4 {
  box-shadow:200px 200px 0 100px rgba(0,0,255,1);
}

/* ------------------------ */

.four_tone_rotate{
  position:relative;
  overflow:hidden;
}

.four_box_2{
  display:inline-block;
  position:absolute;
  top:0px;
  left:0px;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  transition:0.5s;
}

.four_box_rotate_1{
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  transform:rotate(90deg);
}
.four_box_rotate_2{
  box-shadow:300px -100px 0 100px rgba(255,0,0,0);
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  transform:rotate(90deg);
}
.four_box_rotate_3{
  box-shadow:-100px 300px 0 100px rgba(0,255,0,0);
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  transform:rotate(90deg);
}
.four_box_rotate_4{
  box-shadow:300px 300px 0 100px rgba(0,0,255,0);
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  transform:rotate(90deg);
}

.four_tone_rotate:hover > .four_box_rotate_1 {
  box-shadow:0 0 0 100px rgba(0,0,0,1);
  -webkit-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
  transform:rotate(0deg);
}
.four_tone_rotate:hover > .four_box_rotate_2 {
  box-shadow:200px 0 0 100px rgba(255,0,0,1);
  -webkit-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
  transform:rotate(0deg);
}
.four_tone_rotate:hover > .four_box_rotate_3 {
  box-shadow:0 200px 0 100px rgba(0,255,0,1);
  -webkit-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
  transform:rotate(0deg);
}
.four_tone_rotate:hover > .four_box_rotate_4 {
  box-shadow:200px 200px 0 100px rgba(0,0,255,1);
  -webkit-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
  transform:rotate(0deg);
}

/* ------------------------ */

.four_tone_Accordion{
  position:relative;
  overflow:hidden;
}
.four_box_Accordion{
  display:inline-block;
  position:absolute;
  top:0px;
  left:0px;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  transition:0.5s;
  box-shadow:0 0 0 200px rgba(0,0,0,0),0 0 0 200px rgba(255,0,0,0),0 0 0 200px rgba(0,255,0,0),0 0 0 200px rgba(0,0,255,0);
}
.four_tone_Accordion:hover > .four_box_Accordion{
  box-shadow:-150px 0 0 200px rgba(0,0,0,1),-100px 0 0 200px rgba(255,0,0,1),-50px 0 0 200px rgba(0,255,0,1),0 0 0 200px rgba(0,0,255,1);
}

/* Beyond the basics */

.Beyond_the_basics{
  box-shadow:0 0 100px 10px rgba(255,255,255,0.5) inset,0 0 200px 10px rgba(0,0,0,0.06) inset,0 20px 20px -10px rgba(0,0,0,0.5);
}

/* ------------------------ */

.cycle_menu{
  margin:0 0 50px 0;
  min-width:1080px;
}

.cycle_menu ul li{
  float:left;
  list-style:none;
  max-width:200px;
  min-width:200px;
  width:200px;
  max-height:200px;
  min-height:200px;
  height:200px;
  border-radius:100px;
  background:rgba(0,0,0,0.05);
  margin:0 10px;
  text-align:center;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  transition:0.5s;
}

.cycle_menu ul li p{
  padding:65px 0 0 0;
  font-size:22px;
  font-weight:bold;
}

.menu_1{
  box-shadow:0 0 0 100px rgba(0,0,0,0) inset;
}

.menu_1:hover{
  box-shadow:0 0 0 100px red inset;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  transform:rotate(360deg);
}

/* ------------------------ */

.menu_2{
  box-shadow:0 0 0 100px rgba(255,0,0,0.5) inset;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  transform:rotate(360deg);
}

.menu_2:hover{
  box-shadow:0 0 0 0 rgba(0,0,0,0) inset;
}

/* ------------------------ */

.menu_3{
  box-shadow:0 0 0 0 rgba(255,0,0,0) inset;
  z-index:1;
  position:relative;
}

.menu_3:hover ~ .menu_6{
  left:490px;
}
.menu_3:hover{
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  transform:rotate(360deg);
}

.menu_6{
  opacity:1;
  position:absolute;
  left:50px;
  z-index:-1;
  box-shadow:0 0 0 100px rgba(255,0,0,0.5) inset;
}

/* ------------------------ */

.menu_4{
  box-shadow:0 0 0 0 rgba(0,255,0,1) inset,0 0 0 0 rgba(100,50,255,1) inset;
}
.menu_4:hover{
  box-shadow:0 -50px 0 0 rgba(0,255,0,1) inset,150px 150px 0 0 rgba(100,150,255,1) inset;
}

/* ------------------------ */

.menu_5{
  box-shadow:0 0 0 2000px rgba(0,0,0,0);
}
.menu_5:hover{
  box-shadow:0 0 0 2000px rgba(0,0,0,0.5);
}

.menu_5:hover ~ .menu_6{
  left:928px;
}

/* ------------------------ */

.box_menu{
  margin:0 0 50px 0;
  min-width:1080px;
}

.box_menu ul li{
  float:left;
  list-style:none;
  max-width:200px;
  min-width:200px;
  width:200px;
  max-height:80px;
  min-height:80px;
  height:80px;
  background:rgba(0,0,0,0.05);
  margin:0 10px;
  text-align:center;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  transition:0.5s;
}

.box_menu ul li p{
  padding:5px 0 0 0;
  font-size:22px;
  font-weight:bold;
}

/* ------------------------ */

.box_menu_1{
  box-shadow:220px 0 0 0 rgba(0,0,0,0),440px 0 0 0 rgba(0,0,0,0),660px 0 0 0 rgba(0,0,0,0),880px 0 0 0 rgba(0,0,0,0);
}
.box_menu_1:hover{
  box-shadow:220px 0 0 0 rgba(0,0,0,0.5),440px 0 0 0 rgba(0,0,0,0.5),660px 0 0 0 rgba(0,0,0,0.5),880px 0 0 0 rgba(0,0,0,0.5);
}

/* ------------------------ */

.box_menu_2{
  box-shadow:220px 0 0 0 rgba(0,255,0,0),440px 0 0 0 rgba(0,255,0,0),660px 0 0 0 rgba(0,255,0,0),-220px 0 0 0 rgba(0,255,0,0);
}
.box_menu_2:hover{
  box-shadow:0 0 0 0 rgba(0,255,0,0.5),0 0 0 0 rgba(0,255,0,0.5),0 0 0 0 rgba(0,255,0,0.5),0 0 0 0 rgba(0,255,0,0.5),0 0 0 50px rgba(0,255,0,1) inset;
}

/* ------------------------ */
.box_menu_3{
  position:relative;
}
.box_menu_3 p{
  width:200px;
  height:80px;
  font-weight:bold;
  -webkit-transition:1s;
  -moz-transition:1s;
  transition:1s;
}
.box_menu_3:hover{
 box-shadow:0 -30px 0 0 rgba(0,0,0,0.5) inset; 
}
.box_menu_3:hover > p{
  -webkit-transform:rotatey(720deg) scale(1.5);
  -moz-transform:rotatey(720deg) scale(1.5);
  transform:rotatey(720deg) scale(1.5);
}

/* ------------------------ */

.box_menu_4{
  box-shadow:0 0 0 0 rgba(0,0,0,1) inset,0 0 0 0 rgba(0,0,0,1) inset,0 -30px 0 0 rgba(0,0,0,0.5) inset;
}
.box_menu_4 p{
  width:200px;
  height:80px;
  -webkit-transform:scale(1.5);
  -moz-transform:scale(1.5);
  transform:scale(1.5);
}

.box_menu_4:hover{
  box-shadow:30px 0 0 0 rgba(0,0,0,1) inset,-30px 0 0 0 rgba(0,0,0,1) inset,0 -30px 0 0 rgba(0,0,0,0.5) inset;
}

/* ------------------------ */

.box_menu_5{
  box-shadow:-40px 0 -20px 20px rgba(0,0,0,0) inset,40px 0 -20px 20px rgba(0,0,0,1) inset;
}
.box_menu_5:hover {
    box-shadow:-40px 0 -20px 20px rgba(0,0,0,1) inset,40px 0 -20px 30px rgba(0,255,0,1) inset;
}

/* ------------------------ */
/* ------------------------ */
/* ------------------------ */
/* ------------------------ */