@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap'); /* BAŞLIKLAR */
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200..800&display=swap'); /* KAZIMGÜCÜ */
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap'); /* BAŞLIK2 */
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap'); /* BAŞLIK2 */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap'); /* AÇIKLAMA */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Nova+Square&display=swap'); /*BODY FONT ALANI*/
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Rubik+Vinyl&family=VT323&display=swap'); /*BİLGİLER FONT*/
@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap'); /* Nova Flat */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); /* font-family: "VT323", monospace; */
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --ozelfont: Bowlby One SC, sans-serif;
  --cardbaslik: Nova Flat, sans-serif;
  --siteadı: Audiowide, sans-serif;
  --siteadı2: Audiowide, sans-serif;
  --açıklama: Nova Flat, sans-serif;
  --kazımgücü: Gemunu Libre, sans-serif;
  --tablofont: Chakra Petch, sans-serif;
  --bilgilerfont: VT323, sans-serif;
  --minerbaslik: Nova Flat, sans-serif;
}

.ozelfont {
	font-size: 10px var(--ozelfont);
	font-weight: 400;
	font-style: normal;
	}
.tablofont {
	font-size: 15px var(--tablofont);
	}
.cardbaslik {
	font:13px var(--cardbaslik);
	}
.siteadı {
	font-family: var(--siteadı);
	font-size: 50px
	}
.siteadı2 {
	font-family: var(--siteadı2);
	font-weight: 400;
	font-style: normal;
	}
.açıklama {
	font:20px var(--açıklama);
	}
.kazımgücü {
	font:16px var(--kazımgücü);
	}
.bilgilerfont {
	font: 40px var(--bilgilerfont);
	}
.minerbaslik {
	font-size: 50px var(--Chakra Petch);
	}
.discord-widget {
    background-color: #0E1119;
	font-family: var(--siteadı);
    padding: 20px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    max-height: 80vh; /* Limit height for scrolling */
}