.footerarkaplan {
  background: #0E1119;
}
.footeryazıkısmı {
  min-height: 20px;
  text-align: center;
  text-decoration:none;
  color:#00ff0f;
}
.telifhakkı {
  min-height: 20px;
  text-align: center;
  text-decoration:none;
}