.form-group label {
	font-family: var(--bilgilerfont);
	font-size: 25px;
}

.roller-select {
    /*-webkit-appearance: none;*/
    font-size: 15px;
	font-family: var(--siteadı2);
    color: red;
    background-color: #181928;
    border-radius: 10px;
    padding: 5px;
    border-left: none;
    border-radius: 4px 4px 4px 4px;
}

.ozel {
    background-color: #2f3045;
	display: flex;
	font-family: var(--siteadı);
    width: 100;
	color: white;
	padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    max-height: 80vh; /* Limit height for scrolling */
}

.ozel,
.form-group {
	padding: 5px;
}

.btn-show {
  background-color: #2f3045;
  font-family: var(--bilgilerfont);
  font-size: 20x;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s ease 0s;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border: 1px solid yellow;
}

.btn-show:hover {
  background-color: #2f3045;
  color: red;
  border: 1px solid yellow;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-show:focus {
  background-color: #2f3045;
  color: red;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.css-checkbox { position: absolute; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0; }#inputPreview { display: flex; gap: 20px; justify-content: center;	}.css-checkbox + label { position: relative; font-size: 14px; cursor: pointer; display: inline-flex; align-items: center; height: 20px; color: rgb(0, 0, 0); }.css-checkbox + label::before { content: " "; display: inline-block; vertical-align: middle; margin-right: 3px; width: 20px; height: 20px; background-color: white; border-width: 0px; border-style: solid; border-color: rgb(204, 204, 204); border-radius: 2px; box-shadow: none; }.css-checkbox:checked + label::after { content: " "; background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjZGUxZmNiIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+"); background-repeat: no-repeat; background-size: 18px 18px; background-position: center center; position: absolute; display: flex; justify-content: center; align-items: center; margin-left: 0px; left: 0px; top: 0px; text-align: center; background-color: transparent; font-size: 10px; height: 20px; width: 20px; }

table {
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
border: 10px solid transparent;
  padding: 15px;
  border-image: url(border.png) 30 stretch;
}

table tr {
  background-color: red;
  border: 1px solid black;
  padding: 1px;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
.ozel {
	display: block;
	font-family: var(--siteadı);
    padding: 20px;
    width: 100;
	color: white;
    text-align: center;
	padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    max-height: 80vh; /* Limit height for scrolling */
}
  table {
    border: 0;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid black;
    display: block;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}