.form-group label {
	font-family: var(--açıklama);
	font-size: 25px;
}

.roller-select {
    -webkit-appearance: none;
    font-size: 15px;
	font-family: var(--siteadı2);
    color: red;
    background-color: #181928;
    padding: 5px;
    border-radius: 4px 4px 4px 4px;
	border: 1px solid yellow;
}

.ozel {
	display: flex;
	font-family: var(--açıklama);
    width: 100;
	color: #c3b0d0;
	padding: 5px;
}

.ozel2 {
	font-family: var(--açıklama);
    width: 100;
	color: #c3b0d0;
	padding: 5px;
}

.ozel,
.form-group {
	padding: 5px;
}

.btn-show {
  background-color: #2f3045;
  font-family: var(--bilgilerfont);
  font-size: 20px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s ease 0s;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border: 1px solid yellow;
}

.btn-show:hover {
  background-color: #2f3045;
  color: #c3b0d0;
  border: 1px solid yellow;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-show:focus {
  background-color: #2f3045;
  color: #c3b0d0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table {
  margin: 0;
  padding: 0;
  width: 100%;
}

table tr {
  background-color: #2f3045;
}

table th,
table td {
  padding: 5px;
  text-align: center;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

table th, 
.fctr {
  color: red;
  background-color: #181928;
}



@media screen and (max-width: 1000px) {
.ozel {
	display: block;
	font-family: var(--siteadı);
    padding: 20px;
    width: 100;
	color: white;
    text-align: center;
	padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    max-height: 80vh; /* Limit height for scrolling */
}
  table {
    border: 0;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid black;
    display: block;
    text-align: center;
	color: red;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}