	.name{
			text-align: center;
			font-family: "Tiny5", sans-serif;
			font-size: 30px;
			font-weight: bold;
			text-transform: uppercase;
			background: -webkit-linear-gradient(318deg, #12c2e9, #b92b27, #c31432,#009fff,#ff416c,#8a2387,#ed213a);
			background: -o-linear-gradient(318deg, #12c2e9, #b92b27, #c31432,#009fff,#ff416c,#8a2387,#ed213a);
			background: linear-gradient(132deg, #12c2e9, #b92b27, #c31432,#009fff,#ff416c,#8a2387,#ed213a);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-size: 400% 4%;
			-webkit-animation: textcolorchange 15s linear infinite;
			        animation: textcolorchange 15s linear infinite;
		}
		@-webkit-keyframes textcolorchange{
			0%{
				background-position: 0% 50%;
			}
			25%{
				background-position: 50% 50%;
			}
			50%{
				background-position: 100% 50%;
			}
			75%{
				background-position: 75% 50%;
			}
			100%{
				background-position: 0% 50%;
			}
		}
		@keyframes textcolorchange{
			0%{
				background-position: 0% 50%;
			}
			25%{
				background-position: 50% 50%;
			}
			50%{
				background-position: 100% 50%;
			}
			75%{
				background-position: 75% 50%;
			}
			100%{
				background-position: 0% 50%;
			}
		}

	.kriptopararenk{
			text-align: center;
			font-weight: bold;
			text-transform: uppercase;
			background: -webkit-linear-gradient(318deg, red, black, yellow, white, red);
			background: -o-linear-gradient(318deg, red, black, yellow, white, yellow);
			background: linear-gradient(132deg, red, black, yellow, white, black);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			
			background-size: 400% 4%;
			-webkit-animation: textcolorchange 15s linear infinite;
			        animation: textcolorchange 15s linear infinite;
		}
		@-webkit-keyframes textcolorchange{
			0%{
				background-position: 0% 50%;
			}
			25%{
				background-position: 50% 50%;
			}
			50%{
				background-position: 100% 50%;
			}
			75%{
				background-position: 75% 50%;
			}
			100%{
				background-position: 0% 50%;
			}
		}
		@keyframes textcolorchange{
			0%{
				background-position: 0% 50%;
			}
			25%{
				background-position: 50% 50%;
			}
			50%{
				background-position: 100% 50%;
			}
			75%{
				background-position: 75% 50%;
			}
			100%{
				background-position: 0% 50%;
			}
		}
